<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Swatches_CustomOptions>
            <version>1.0.1</version>
        </Swatches_CustomOptions>
    </modules>
    <global>
        <models>
            <swatches_customoptions>
                <class>Swatches_CustomOptions_Model</class>
                <resourceModel>swatches_customoptions_resource</resourceModel>
            </swatches_customoptions>    
            <swatches_customoptions_resource>
                <class>Swatches_CustomOptions_Model_Resource</class>
                <entities>
                    <images>
                        <table>swatches_customoptions</table>
                    </images> 
                </entities>
            </swatches_customoptions_resource>
        </models>
        <resources>
            <swatches_customoptions_setup>
                <setup>
                    <module>Swatches_CustomOptions</module>
                    <class>Swatches_CustomOptions_Model_Resource_Setup</class>
                </setup>
            </swatches_customoptions_setup>
        </resources>
        <events>
            <core_collection_abstract_load_after>
                <observers>
                    <swatches_customoptions_add_image_to_result>
                        <type>singleton</type>
                        <class>swatches_customoptions/observer</class>
                        <method>addImagetoResult</method>
                    </swatches_customoptions_add_image_to_result>
                </observers>
            </core_collection_abstract_load_after>
        </events>
        <blocks>
            <swatches_customoptions>
                <class>Swatches_CustomOptions_Block</class>
            </swatches_customoptions>
            <catalog>
                <rewrite>
                    <product_view_options_type_select>Swatches_CustomOptions_Block_Catalog_Product_View_Options_Type_Select</product_view_options_type_select>
                </rewrite>
            </catalog>
            <adminhtml>
                <rewrite>
                    <catalog_product_helper_form_gallery_content>Swatches_CustomOptions_Block_Adminhtml_Catalog_Product_Helper_Form_Gallery_Content</catalog_product_helper_form_gallery_content>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <swatches_customoptions>
                <class>Swatches_CustomOptions_Helper</class>
            </swatches_customoptions>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Swatches_CustomOptions before="Mage_Adminhtml">Swatches_CustomOptions_Adminhtml</Swatches_CustomOptions>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <swatches_customoptions>
                    <file>swatches_customoptions.xml</file>
                </swatches_customoptions>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <swatches_check>
                        <type>singleton</type>
                        <class>swatches_customoptions/feed</class>
                        <method>check</method>
                    </swatches_check>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <swatches_customoptions>
                    <file>swatches_customoptions.xml</file>
                </swatches_customoptions>
            </updates>
        </layout>    
    </frontend>
    <default>
        <swatches>
            <customoptions>
                <enabled>0</enabled>
                <show_text>1</show_text>
            </customoptions>
            <feed>
                <check_frequency>24</check_frequency>
            </feed>
        </swatches>
    </default>
</config>
