<?xml version="1.0"?>
<config>
    <modules>
        <Thirty4_CatalogSale>
            <version>0.6.3</version>
        </Thirty4_CatalogSale>
    </modules>
    <global>
      <helpers>
        <catalogsale>
          <class>Thirty4_CatalogSale_Helper</class>
        </catalogsale>
      </helpers>
      <blocks>
        <catalogsale>
          <class>Thirty4_CatalogSale_Block</class>
        </catalogsale>
      </blocks>
      <models>
        <catalogsale>
          <class>Thirty4_CatalogSale_Model</class>
        </catalogsale>
      </models>
    </global>
    <frontend>
      <layout>
        <updates>
          <catalogsale>
            <file>catalogsale.xml</file>
          </catalogsale>
        </updates>
      </layout>
      <routers>
        <catalogsale>
          <use>standard</use>
          <args>
            <module>Thirty4_CatalogSale</module>
            <frontName>catalogsale</frontName>
          </args>
        </catalogsale>
      </routers>
    </frontend>
</config>