<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Productlist>
			<version>0.1.0</version>
		</Mage_Productlist>
	</modules>
	<global>
		<helpers>
			<module>Mage_Productlist</module>
		</helpers>
		<blocks>
			<productlist><class>Mage_Productlist_Block</class></productlist>
		</blocks>
	</global>
	<frontend>
		<secure_url>
			<productlist>/productlist</productlist>
		</secure_url>
		<routers>
			<productlist>
				<use>standard</use>
				<args>
					<module>Mage_Productlist</module>
					<frontName>productlist</frontName>
				</args>
			</productlist>
		</routers>
		<translate>
			<modules>
				<Mage_Productlist>
					<files>
						<default>Mage_Productlist.csv</default>
					</files>
				</Mage_Productlist>
			</modules>
		</translate>
		<layout>
			<updates>
				<productlist>
						<file>productlist.xml</file>
				</productlist>
			</updates>
		</layout>
	</frontend>
	<default>
		<defcon2_catalog>
			<productlist>
				<allfooter>1</allfooter>
			</productlist>
		</defcon2_catalog>
	</default>
</config>
