<?xml version="1.0" encoding="utf-8"?>

<config>
	<modules>
		<Brisign_Checklist>
			<version>0.1.0</version>
		</Brisign_Checklist>
	</modules>
	<global>
		<models>
			<checklist>
				<class>Brisign_Checklist_Model</class>
				<resourceModel>checklist_mysql4</resourceModel>
			</checklist>
			<checklist_mysql4>
				<class>Brisign_Checklist_Model_Mysql4</class>
				<entities>
					<checknote>
						<table>checklist_checknote</table>
					</checknote>
				</entities>   
			</checklist_mysql4>
		</models>
		<helpers>
			<checklist>
				<class>Brisign_Checklist_Helper</class>
			</checklist>
		</helpers>
		<resources>
			<checklist_setup>   
				<setup>
					<module>Brisign_Checklist</module>
					<class>Mage_Sales_Model_Mysql4_Setup</class>
				</setup>
			</checklist_setup>
		</resources>
		<blocks>
			<checklist>
				<class>Brisign_Checklist_Block</class>
			</checklist>
		</blocks>
	</global>
	<frontend>
        <routers>
            <checklist>
                <use>standard</use>
                <args>
                    <module>Brisign_Checklist</module>
                    <frontName>checklist</frontName>
                </args>
            </checklist>
        </routers>  
		<layout>
			<updates>
				<checklist>
					<file>checklist.xml</file>
				</checklist>
			</updates>
		</layout>
		<events>
			<sales_convert_quote_to_order>
				<observers>
					<checklist>
						<type>model</type>
						<class>checklist/observer</class>
						<method>salesEventConvertQuoteToOrder</method>
					</checklist>
				</observers>
			</sales_convert_quote_to_order>
			<checkout_controller_onepage_save_shipping_method>
				<observers>
					<checklist>
						<type>model</type>
						<class>checklist/observer</class>
						<method>checkoutEventCreateChecklistChecknote</method>
					</checklist>
				</observers>
			</checkout_controller_onepage_save_shipping_method>
		</events>
	</frontend>
	<default>
		<checklist_options>
			<basic_settings>
				<enabled>1</enabled>			
				<plug_and_play>1</plug_and_play>
				<frontend_label>Checklist Checknote</frontend_label>			
			</basic_settings>
			<character_count>
				<enabled>1</enabled>			
				<maximum_characters>500</maximum_characters>			
			</character_count>
		</checklist_options>
    </default>
	
</config>