<?xml version="1.0"?>
<config>
    <modules>
        <Soon_AdvancedCache>
            <version>0.9.6</version>
        </Soon_AdvancedCache>
    </modules>
    
    <frontend>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <add_block_to_cache>
                        <type>singleton</type>
                        <class>advancedcache/add</class>
                        <method>addBlockToCache</method>
                    </add_block_to_cache>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <layout>
            <updates>
                <advancedcache>
                    <file>advancedcache.xml</file>
                </advancedcache>
            </updates>
        </layout>        
    </frontend>
    
    <admin>
        <routers>
             <adminhtml>
                 <args>
                     <modules>
                         <advancedcache before="Mage_Adminhtml">Soon_AdvancedCache_Adminhtml</advancedcache>
                     </modules>
                 </args>
             </adminhtml>
        </routers>
    </admin>    
    
    <adminhtml>
        <events>
            <catalog_category_save_before>
                <observers>
                    <clean_block_cache>
                        <type>singleton</type>
                        <class>advancedcache/clean</class>
                        <method>cleanBlockCacheOnEvent</method>
                    </clean_block_cache>
                </observers>
            </catalog_category_save_before>            
            <catalog_category_delete_before>
                <observers>
                    <clean_block_cache>
                        <type>singleton</type>
                        <class>advancedcache/clean</class>
                        <method>cleanBlockCacheOnEvent</method>
                    </clean_block_cache>
                </observers>
            </catalog_category_delete_before>        
            <catalog_product_save_before>
                <observers>
                    <clean_block_cache>
                        <type>singleton</type>
                        <class>advancedcache/clean</class>
                        <method>cleanBlockCacheOnEvent</method>
                    </clean_block_cache>
                </observers>
            </catalog_product_save_before>         
            <catalog_product_delete_before>
                <observers>
                    <clean_block_cache>
                        <type>singleton</type>
                        <class>advancedcache/clean</class>
                        <method>cleanBlockCacheOnEvent</method>
                    </clean_block_cache>
                </observers>
            </catalog_product_delete_before>
            <cms_page_save_before>
                <observers>
                    <clean_block_cache>
                        <type>singleton</type>
                        <class>advancedcache/clean</class>
                        <method>cleanBlockCacheOnEvent</method>
                    </clean_block_cache>
                </observers>
            </cms_page_save_before>
            <cms_page_delete_before>
                <observers>
                    <clean_block_cache>
                        <type>singleton</type>
                        <class>advancedcache/clean</class>
                        <method>cleanBlockCacheOnEvent</method>
                    </clean_block_cache>
                    <delete_cms_page_exception>
                        <type>singleton</type>
                        <class>advancedcache/exception</class>
                        <method>deleteExceptionOnEvent</method>
                    </delete_cms_page_exception>
                </observers>
            </cms_page_delete_before>
            <controller_action_postdispatch_adminhtml_catalog_product_action_attribute_save>
                <observers>
                    <clean_catalog_cache_on_attribute_mass_update>
                        <type>singleton</type>
                        <class>advancedcache/clean</class>
                        <method>cleanCacheOnMassAttributeUpdate</method>
                    </clean_catalog_cache_on_attribute_mass_update>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_action_attribute_save>            
            <catalog_product_attribute_update_before>
                <observers>
                    <clean_catalog_cache_on_product_mass_status_update>
                        <type>singleton</type>
                        <class>advancedcache/clean</class>
                        <method>cleanCacheOnMassStatusUpdate</method>
                    </clean_catalog_cache_on_product_mass_status_update>
                </observers>
            </catalog_product_attribute_update_before>            
        </events>
        <layout>
            <updates>
                <advancedcache>
                    <file>advancedcache.xml</file>
                </advancedcache>
            </updates>
        </layout>        
        <translate>
            <modules>
                <Soon_AdvancedCache>
                    <files>
                        <default>Soon_AdvancedCache.csv</default>
                    </files>
                </Soon_AdvancedCache>
            </modules>
        </translate>      
        <menu>
            <system>
                <children>
                    <advanced_cache translate="title">
                        <title>Advanced Cache</title>
                        <sort_order>91</sort_order>
                        <children>
                            <blocks translate="title">
                                <title>Blocks Cache</title>
                                <action>adminhtml/advancedcache_blocks</action>
                                <sort_order>10</sort_order>
                            </blocks>
                            <exceptions translate="title">
                                <title>Exceptions</title>
                                <action>adminhtml/advancedcache_exception</action>
                                <sort_order>20</sort_order>
                            </exceptions>
                            <symlink translate="title">
                                <title>Symlink Cache</title>
                                <action>adminhtml/advancedcache_symlink</action>
                                <sort_order>30</sort_order>
                            </symlink>
                        </children>
                    </advanced_cache>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <advanced_cache>
                                    <title>Advanced Cache</title>
                                    <children>
                                        <blocks>
                                            <title>Blocks Cache</title>
                                        </blocks>
                                        <exceptions>
                                            <title>Exceptions</title>
                                        </exceptions>
                                        <symlink>
                                            <title>Symlink Cache</title>
                                        </symlink>
                                    </children>
                                </advanced_cache>
                                <config>
                                    <children>
                                        <advancedcache translate="title" module="advancedcache">
                                            <title>Advanced Cache</title>
                                        </advancedcache>
                                    </children>
                                </config>                                
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    
    <global>
        <events>
            <!-- This observer is in the frontend section in order to enforce
            cache cleaning, ie, when an order is placed -->
            <catalog_product_save_before>
                <observers>
                    <clean_block_cache>
                        <type>singleton</type>
                        <class>advancedcache/clean</class>
                        <method>cleanBlockCacheOnEvent</method>
                    </clean_block_cache>
                </observers>
            </catalog_product_save_before>
        </events>
        <blocks>
            <advancedcache>
                <class>Soon_AdvancedCache_Block</class>
            </advancedcache>
        </blocks>
        <helpers>
            <advancedcache>
                <class>Soon_AdvancedCache_Helper</class>
            </advancedcache>
        </helpers>
        <models>
            <advancedcache>
                <class>Soon_AdvancedCache_Model</class>
                <resourceModel>advancedcache_mysql4</resourceModel>
            </advancedcache>
            <advancedcache_mysql4>
                <class>Soon_AdvancedCache_Model_Mysql4</class>
                <entities>
                    <blocks>
                        <table>advancedcache_blocks</table>
                    </blocks>
                    <config>
						<table>advancedcache_config</table>
                    </config>
                    <exception>
                        <table>advancedcache_exception</table>
                    </exception>
                </entities>
            </advancedcache_mysql4>             
        </models>
        <resources>
            <advancedcache_setup>
                <setup>
                    <module>Soon_AdvancedCache</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advancedcache_setup>
        </resources>        
        <cache>
            <types>
                <advancedcache_homepage translate="label,description" module="advancedcache">
                    <label>Homepage</label>
                    <description>Homepage blocks</description>
                    <tags>homepage_blocks</tags>
                </advancedcache_homepage>
            </types>
        </cache>        
    </global>    
</config>
