<?xml version="1.0"?>
<config>
    <modules>
        <NeedTool_OffsiteOrder>
            <version>1.0.1</version>
        </NeedTool_OffsiteOrder>
    </modules>
    <global>
		<helpers>
           <offsiteorder><class>NeedTool_OffsiteOrder_Helper</class></offsiteorder>
        </helpers> 
        <models>
            <offsiteorder>
                <class>NeedTool_OffsiteOrder_Model</class>
            </offsiteorder>
        </models>
        <resources>
            <offsiteorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </offsiteorder_write>
            <offsiteorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </offsiteorder_read>
        </resources>
        <blocks>
            <offsiteorder><class>NeedTool_OffsiteOrder_Block</class></offsiteorder>
    	</blocks>
        <payment>
            <offsiteorder_payment>
                <languages>
                    <EN>
                        <code>EN</code>
                        <name>English</name>
                    </EN>
                    <ZH>
                        <code>ZH-CN</code>
                        <name>中文</name>
                    </ZH>
                 </languages>
            </offsiteorder_payment>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <offsiteorder_payment>/offsiteorder/payment</offsiteorder_payment>
        </secure_url>
        <routers>
            <offsiteorder>
                <use>standard</use>
                <args>
                    <module>NeedTool_OffsiteOrder</module>
                    <frontName>offsiteorder</frontName>
                </args>
            </offsiteorder>
        </routers>
        <translate>
            <modules>
                <NeedTool_OffsiteOrder>
                    <files>
                        <default>NeedTool_OffsiteOrder.csv</default>
                    </files>
                </NeedTool_OffsiteOrder>
            </modules>
        </translate>
        <layout>
            <updates>
                <offsiteorder>
                    <file>offsiteorder.xml</file>
                </offsiteorder>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <NeedTool_OffsiteOrder>
                    <files>
                        <default>NeedTool_OffsiteOrder.csv</default>
                    </files>
                </NeedTool_OffsiteOrder>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <offsiteorder_payment>
                  <model>offsiteorder/payment</model>
                  <title>OffSite Order Onsite Pay</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
            </offsiteorder_payment>
        </payment>
    </default>
</config>
