<?xml version="1.0"?>
<config>
    <modules>
        <Customwishlist_Customwishlist>
            <version>0.1.0</version>
        </Customwishlist_Customwishlist>
    </modules>
    <frontend>
        <routers>
            <customwishlist>
                <use>standard</use>
                <args>
                    <module>Customwishlist_Customwishlist</module>
                    <frontName>customwishlist</frontName>
                </args>
            </customwishlist>
        </routers>
        <layout>
            <updates>
                <customwishlist>
                    <file>customwishlist.xml</file>
                </customwishlist>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<customwishlist>
				<use>admin</use>
				<args>
					<module>Customwishlist_Customwishlist</module>
					<frontName>customwishlist</frontName>
				</args>
			</customwishlist>
        </routers>
    </admin>
    <!--<adminhtml>
		<menu>
			<customwishlist module="customwishlist">
				<title>Customwishlist</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="customwishlist">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>customwishlist/adminhtml_customwishlist</action>
					</items>
				</children>
			</customwishlist>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Customwishlist_Customwishlist>
							<title>Customwishlist Module</title>
							<sort_order>10</sort_order>
						</Customwishlist_Customwishlist>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<customwishlist>
					<file>customwishlist.xml</file>
				</customwishlist>
			</updates>
		</layout>
    </adminhtml>-->
    <global>
        <models>
            <customwishlist>
                <class>Customwishlist_Customwishlist_Model</class>
                <resourceModel>customwishlist_mysql4</resourceModel>
            </customwishlist>
            <customwishlist_mysql4>
                <class>Customwishlist_Customwishlist_Model_Mysql4</class>
                <entities>
                    <customwishlist>
                        <table>customwishlist</table>
                    </customwishlist>
                </entities>
            </customwishlist_mysql4>
        </models>
        <resources>
            <customwishlist_setup>
                <setup>
                    <module>Customwishlist_Customwishlist</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customwishlist_setup>
            <customwishlist_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customwishlist_write>
            <customwishlist_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customwishlist_read>
        </resources>
        <blocks>
            <customwishlist>
                <class>Customwishlist_Customwishlist_Block</class>
            </customwishlist>
        </blocks>
        <helpers>
            <customwishlist>
                <class>Customwishlist_Customwishlist_Helper</class>
            </customwishlist>
        </helpers>
    </global>
</config>