<?xml version="1.0"?>
<!--
/**
 * @category   Php4u
 * @package    Php4u_BlastLuceneSearch
 * @author     Marcin Szterling <marcin@php4u.co.uk>
 * @copyright  Php4u Marcin Szterling (c) 2012
 * @license http://php4u.co.uk/licence/
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 * Any form of ditribution, sell, transfer forbidden see licence above
 */
 -->
<config>
    <modules>
        <Php4u_BlastLuceneSearch>
            <version>1.6.2.3</version>
        </Php4u_BlastLuceneSearch>
    </modules>
    <global>
        <models>
            <blastlucenesearch>
                <class>Php4u_BlastLuceneSearch_Model</class>
            </blastlucenesearch>
        </models>
        <resources>
		    <blastlucenesearch_setup>
		      <setup>
		        <module>Php4u_BlastLuceneSearch</module>
		        <class>Php4u_BlastLuceneSearch_Model_Resource_Eav_Mysql4_Setup</class>
		      </setup>
		      <connection>
		        <use>core_setup</use>
		      </connection>
		    </blastlucenesearch_setup>
		    <blastlucenesearch_write>
		      <connection>
		        <use>core_write</use>
		      </connection>
		    </blastlucenesearch_write>
		    <blastlucenesearch_read>
		      <connection>
		        <use>core_read</use>
		      </connection>
		    </blastlucenesearch_read>
		</resources>
        <helpers>
            <php4u>
                <class>Php4u_BlastLuceneSearch_Helper</class>
            </php4u>
        </helpers>
        <blocks>
            <blastlucenesearch>
                <class>Php4u_BlastLuceneSearch_Block</class>
            </blastlucenesearch>
        </blocks>
        <index>
            <indexer>
                <rebuild_search_index_lucene>
                    <model>blastlucenesearch/indexer_product</model>
                </rebuild_search_index_lucene>
            </indexer>
        </index>
        <events>
            <catalog_product_save_after>
                <observers>
                    <catalogsearch>
                        <type>singleton</type>
                        <class>blastlucenesearch/observer</class>
                        <method>refreshProductIndex</method>
                    </catalogsearch>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <catalogsearch>
                        <type>singleton</type>
                        <class>blastlucenesearch/observer</class>
                        <method>cleanProductIndex</method>
                    </catalogsearch>
                </observers>
            </catalog_product_delete_after>
            <catalog_entity_attribute_save_after>
                <observers>
                    <catalogsearch>
                        <type>singleton</type>
                        <class>blastlucenesearch/observer</class>
                        <method>eavAttributeChange</method>
                    </catalogsearch>
                </observers>
            </catalog_entity_attribute_save_after>
            <catalog_entity_attribute_delete_after>
                <observers>
                    <catalogsearch>
                        <type>singleton</type>
                        <class>blastlucenesearch/observer</class>
                        <method>eavAttributeChange</method>
                    </catalogsearch>
                </observers>
            </catalog_entity_attribute_delete_after>
            <catalog_product_import_after>
                <observers>
                    <catalogsearch>
                        <type>singleton</type>
                        <class>blastlucenesearch/observer</class>
                        <method>refreshIndexAfterImport</method>
                    </catalogsearch>
                </observers>
            </catalog_product_import_after>
            <store_add>
                <observers>
                    <catalogsearch>
                        <type>singleton</type>
                        <class>blastlucenesearch/observer</class>
                        <method>refreshStoreIndex</method>
                    </catalogsearch>
                </observers>
            </store_add>
            <store_delete>
                <observers>
                    <catalogsearch>
                        <type>singleton</type>
                        <class>blastlucenesearch/observer</class>
                        <method>cleanStoreIndex</method>
                    </catalogsearch>
                </observers>
            </store_delete>
            <catalog_product_website_update>
                <observers>
                    <catalogsearch>
                        <type>singleton</type>
                        <class>blastlucenesearch/observer</class>
                        <method>catalogProductWebsiteUpdate</method>
                    </catalogsearch>
                </observers>
            </catalog_product_website_update>
            <admin_system_config_changed_section_php4u>
                <observers>
                    <blastlucenesearch>
                        <type>singleton</type>
                        <class>blastlucenesearch/observer</class>
                        <method>onConfigChange</method>
                    </blastlucenesearch>
                </observers>
            </admin_system_config_changed_section_php4u>            
        </events>
    </global>
    <frontend>
        <layout>
             <updates>
                  <php4u_catalogsearch module="Php4u_BlastLuceneSearch">
                        <file>blastlucenesearch.xml</file>
                  </php4u_catalogsearch>
             </updates>
        </layout>
        <routers>
			<cms>
				<args>
					<modules>
						<Php4u_BlastLuceneSearch before="Mage_Cms">Php4u_BlastLuceneSearch</Php4u_BlastLuceneSearch>
					</modules>
				</args>
			</cms>
		</routers>
		<translate>
            <modules>
                <Php4u_BlastLuceneSearch>
                    <files>
                        <default>Php4u_BlastLuceneSearch.csv</default>
                    </files>
                </Php4u_BlastLuceneSearch>
            </modules>
        </translate>
    </frontend>
	<admin>
        <routers>
            <blastlucenesearch>
                <use>admin</use>
                <args>
                    <module>Php4u_BlastLuceneSearch</module>
                    <frontName>blastlucenesearch</frontName>
                </args>
            </blastlucenesearch>
        </routers>
    </admin>
    <adminhtml>
		<menu>
		    <system translate="title" module="adminhtml">
		    	<children>
		    		<php4u module="php4u">
                        <title>Blast Lucene Search Diagnostics</title>
                        <sort_order>120</sort_order>
                        <action>blastlucenesearch/adminhtml_blastlucenesearch</action>
                    </php4u>
		    	</children>
		    </system>
        </menu>
	    <acl>
	        <resources>
	            <admin>
	                <children>
	                    <system>
	                        <children>
	                            <config>
	                                <children>
	                                    <php4u>
	                                        <title>Php4u BlastSearchLucene Configuration</title>
	                                    </php4u>
	                                </children>
	                            </config>
	                            <php4u>
	                               <title>Php4u BlastSearchLucene Diagnostics</title>
	                            </php4u>
	                        </children>
	                    </system>
	                </children>
	            </admin>
	        </resources>
	    </acl>
	    <translate>
            <modules>
                <Php4u_BlastLuceneSearch>
                    <files>
                        <default>Php4u_BlastLuceneSearch.csv</default>
                    </files>
                </Php4u_BlastLuceneSearch>
            </modules>
        </translate>
	</adminhtml>
	<default>
        <php4u>
            <php4u_group>
                <php4u_lucene_enabled>1</php4u_lucene_enabled>
                <php4u_lucene_limiter>500</php4u_lucene_limiter>
                <php4u_lucene_onlynew>1</php4u_lucene_onlynew>
                <php4u_lucene_utf8nonstandard>0</php4u_lucene_utf8nonstandard>
                <use_stemmer>1</use_stemmer>
                <php4u_chars2space>-/\</php4u_chars2space>
                <php4u_chars2trim>-</php4u_chars2trim>
                <php4u_lucene_searchmode>fulltext</php4u_lucene_searchmode>
                <php4u_lucene_fulltextmode>AND</php4u_lucene_fulltextmode>
                <php4u_no_results_enabled>1</php4u_no_results_enabled>
                <php4u_lucene_no_results_searchmode>fuzzy</php4u_lucene_no_results_searchmode>
                <php4u_lucene_no_results_searchmode_split>fulltext</php4u_lucene_no_results_searchmode_split>
                <php4u_lucene_no_results_fulltextmode>OR</php4u_lucene_no_results_fulltextmode>
                <php4u_no_results_second_enabled>1</php4u_no_results_second_enabled>
                <php4u_no_results_append_min_qty>0</php4u_no_results_append_min_qty>
                <php4u_no_results_second_append_min_qty>0</php4u_no_results_second_append_min_qty>
                <log_enabled>1</log_enabled>
                <products_log_enabled>0</products_log_enabled>
                <php4u_add_tags>0</php4u_add_tags>
                <php4u_add_product_id>1</php4u_add_product_id>
                <php4u_lucene_document_limiter>5000</php4u_lucene_document_limiter>
                <php4u_allow_mag_search_cache>1</php4u_allow_mag_search_cache>
                <php4u_allow_mag_clear_results>1</php4u_allow_mag_clear_results>
                <php4u_add_category_names>0</php4u_add_category_names>
                <batch_size>100</batch_size>
                <php4u_split_hyphened>1</php4u_split_hyphened>
                <php4u_tokenize_numbers>1</php4u_tokenize_numbers>
                <php4u_outofstock_last>0</php4u_outofstock_last>
            </php4u_group>
            <generate>
                <enabled>0</enabled>
                <error_email><![CDATA[]]></error_email>
                <error_email_template>sitemap_generate_error_email_template</error_email_template>
                <error_email_identity>general</error_email_identity>
            </generate>
            <license>
            	<key></key>
            </license>
            <index_boost>
            	<product_name>1_0</product_name>
            	<product_sku>1_0</product_sku>
            	<product_description>1_0</product_description>
            	<product_short_description>1_0</product_short_description>
            </index_boost>
            <word_synonims>
            	<enabled>0</enabled>
            </word_synonims>
            <dym>
            	<enabled>0</enabled>
            	<tags_limiter>150000</tags_limiter>
            	<query_words_limit>10</query_words_limit>
            	<log_enabled>1</log_enabled>
            </dym>
            <lucene404>
            	<enabled>0</enabled>
            </lucene404>
        </php4u>
    </default>
    <crontab>
        <jobs>
            <blastlucenesearch_cron>
                <schedule><cron_expr>0 3 * * *</cron_expr></schedule>
                <run>
                	<model>blastlucenesearch/observer::crontab</model>
                </run>
            </blastlucenesearch_cron>
            <blastlucenesearch_generate>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>  
                <run>
                    <model>blastlucenesearch/observer::scheduledGenerateIndex</model>
                </run>
            </blastlucenesearch_generate>
        </jobs>
    </crontab>
</config>	