<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Bannerslider>
            <version>2.0.2</version>
        </Magestore_Bannerslider>
    </modules>
    <frontend>
        <routers>
            <bannerslider>
                <use>standard</use>
                <args>
                    <module>Magestore_Bannerslider</module>
                    <frontName>bannerslider</frontName>
                </args>
            </bannerslider>
        </routers>
        <layout>
            <updates>
                <bannerslider>
                    <file>bannerslider.xml</file>
                </bannerslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<bannerslider>
				<use>admin</use>
				<args>
					<module>Magestore_Bannerslider</module>
					<frontName>bannerslider</frontName>
				</args>
			</bannerslider>
        </routers>
    </admin>
    <adminhtml>
		
		<layout>
			<updates>
				<bannerslider>
					<file>bannerslider.xml</file>
				</bannerslider>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <bannerslider>
                <class>Magestore_Bannerslider_Model</class>
                <resourceModel>bannerslider_mysql4</resourceModel>
            </bannerslider>
            <bannerslider_mysql4>
                <class>Magestore_Bannerslider_Model_Mysql4</class>
                <entities>
                    <bannerslider>
                        <table>bannerslider</table>
                    </bannerslider>
                </entities>
            </bannerslider_mysql4>
        </models>
        <resources>
            <bannerslider_setup>
                <setup>
                    <module>Magestore_Bannerslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bannerslider_setup>
            <bannerslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bannerslider_write>
            <bannerslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bannerslider_read>
        </resources>
        <blocks>
            <bannerslider>
                <class>Magestore_Bannerslider_Block</class>
            </bannerslider>
        </blocks>
        <helpers>
            <bannerslider>
                <class>Magestore_Bannerslider_Helper</class>
            </bannerslider>
        </helpers>
    </global>
		<default>
			<bannerslider>
				
				<settings>
					<time_delay>1000</time_delay>
					<show_description>1</show_description>
					<effect>easeInOutSine</effect>
					<mode>horizontal</mode>
				</settings>
				
			</bannerslider>
		</default>
</config>