<?xml version="1.0"?>
<config>
    <modules>
        <Monk_Blog>
            <version>0.4.0</version>
        </Monk_Blog>
    </modules>
	<admin>
        <routers>
			<blog>
				<use>admin</use>
				<args>
					<module>Monk_Blog_Manage</module>
					<frontName>blog</frontName>
				</args>
			</blog>
        </routers>
    </admin>
    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Monk_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
		<translate>
            <modules>
                <Monk_Blog>
                    <files>
                        <default>Monk_Blog.csv</default>
                    </files>
                </Monk_Blog>
            </modules>
        </translate>
    </frontend>
	
    <adminhtml>
		<translate>
            <modules>
                <Monk_Blog>
                    <files>
                        <default>Monk_Blog.csv</default>
                    </files>
                </Monk_Blog>
            </modules>
        </translate>
		<menu>
			<blog module="blog">
				<title>Blog</title>
				<sort_order>71</sort_order>               
				<children>
					<upgrade module="blog">
						<title>UPGRADE!</title>
						<sort_order>1</sort_order>
						<action>blog/manage_blog/upgrade</action>
					</upgrade>				
					<posts module="blog">
						<title>Manage Posts</title>
						<sort_order>1</sort_order>
						<action>blog/manage_blog</action>
					</posts>
					<comment module="blog">
						<title>Manage Comments</title>
						<sort_order>2</sort_order>
						<action>blog/manage_comment</action>
					</comment>
					<cat module="blog">
						<title>Manage Categories</title>
						<sort_order>3</sort_order>
						<action>blog/manage_cat</action>
					</cat>
				</children>
			</blog>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<blog>
                            <title>Blog</title>
                            <sort_order>70</sort_order>
                            <children>
								
                                <posts>
                                    <title>Manage Posts</title>
									<sort_order>1</sort_order>
                                </posts>
                                <comment>
                                    <title>Manage Comments</title>
									<sort_order>2</sort_order>
                                </comment>
                                <cat>
                                    <title>Manage Categories</title>
									<sort_order>3</sort_order>
                                </cat>
                            </children>
                        </blog>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <blog>
                                            <title>Blog Section</title>
                                        </blog>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<blog>
					<file>blog.xml</file>
				</blog>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <blog>
                <class>Monk_Blog_Model</class>
                <resourceModel>blog_mysql4</resourceModel>
            </blog>
            <blog_mysql4>
                <class>Monk_Blog_Model_Mysql4</class>
                <entities>
                    <blog>
                        <table>blog</table>
                    </blog>
					<post>
                        <table>blog</table>
                    </post>
					<comment>
                        <table>blog_comment</table>
                    </comment>
					<cat>
                        <table>blog_cat</table>
                    </cat>
					<post_cat>
                        <table>blog_post_cat</table>
                    </post_cat>
					<store>
                        <table>blog_store</table>
                    </store>
					<cat_store>
                        <table>blog_cat_store</table>
                    </cat_store>
                </entities>
            </blog_mysql4>
			<sitemap>
				<rewrite>
					<sitemap>Monk_Blog_Model_Sitemap</sitemap>
				</rewrite>
			</sitemap>
        </models>
        <resources>
            <blog_setup>
                <setup>
                    <module>Monk_Blog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
        <blocks>
            <blog>
                <class>Monk_Blog_Block</class>
            </blog>
        </blocks>
        <helpers>
            <blog>
                <class>Monk_Blog_Helper</class>
            </blog>
        </helpers>
		<events>
            <controller_front_init_routers>
                <observers>
                    <blog>
                        <type>singleton</type>
                        <class>Monk_Blog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </blog>
                </observers>
            </controller_front_init_routers>
        </events>
		<template>
            <email>
                <blog_comments_email_template translate="label" module="blog">
                    <label>Comment Submitted</label>
                    <file>comment_submitted.html</file>
                    <type>text</type>
                </blog_comments_email_template>
            </email>
        </template>
    </global>
	
	
	<default>
        <blog>
            <blog>
                <enabled>1</enabled>
				<title>Blog</title>
				<footerEnabled>1</footerEnabled>
				<menuRight>1</menuRight>
				<topEnabled>1</topEnabled>
				<blogcrumbs>1</blogcrumbs>
				<recent>5</recent>
				<dateformat>full</dateformat>
				<layout>page/2columns-right.phtml</layout>
				<comments>1</comments>
				<rss>1</rss>
				<rssimage>images/BlogLogo.png</rssimage>
            </blog>
        </blog>
    </default>
</config>
