<?xml version="1.0"?>
<config>
    <modules>
        <Magpleasure_Guestbook>
            <version>1.1</version>
        </Magpleasure_Guestbook>
    </modules>
    <frontend>
        <routers>
            <guestbook>
                <use>standard</use>
                <args>
                    <module>Magpleasure_Guestbook</module>
                    <frontName>guestbook</frontName>
                </args>
            </guestbook>
        </routers>
        <layout>
            <updates>
                <guestbook>
                    <file>guestbook.xml</file>
                </guestbook>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magpleasure_Guestbook>
                    <files>
                        <default>Magpleasure_Guestbook.csv</default>
                    </files>
                </Magpleasure_Guestbook>
            </modules>
        </translate>
    </frontend>
    <global>
        <helpers>
            <guestbook>
                <class>Magpleasure_Guestbook_Helper</class>
            </guestbook>
        </helpers>

        <blocks>
            <guestbook>
                <class>Magpleasure_Guestbook_Block</class>
            </guestbook>
        </blocks>
        <models>
            <guestbook>
                <class>Magpleasure_Guestbook_Model</class>
                <resourceModel>guestbook_mysql4</resourceModel>
            </guestbook>
            <guestbook_mysql4>
                <class>Magpleasure_Guestbook_Model_Mysql4</class>
                <entities>
                    <message>
                        <table>mp_gb_messages</table>
                    </message>
                </entities>
            </guestbook_mysql4>
        </models>
        <resources>
            <guestbook_setup>
                <setup>
                    <module>Magpleasure_Guestbook</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </guestbook_setup>
            <guestbook_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </guestbook_write>
            <guestbook_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </guestbook_read>
        </resources>
        <template>
            <email>
                <guestbook_notify_admin_new_comment_email_template translate="label" module="guestbook">
                    <label>Guest Book - New Comment Notification</label>
                    <file>guestbook/admin_new_comment.html</file>
                    <type>html</type>
                </guestbook_notify_admin_new_comment_email_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <guestbook_admin>
                <use>admin</use>
                <args>
                    <module>Magpleasure_Guestbook</module>
                    <frontName>guestbook_admin</frontName>
                </args>
            </guestbook_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <catalog>
                <children>
                    <guestbook module="guestbook">
                        <title>Guest Book</title>
                        <sort_order>100</sort_order>
                        <children>
                            <message module="guestbook">
                                <title>Comments</title>
                                <sort_order>10</sort_order>
                                <action>guestbook_admin/adminhtml_message</action>
                            </message>
                            <config module="guestbook">
                                <title>Configuration</title>
                                <sort_order>20</sort_order>
                                <action>adminhtml/system_config/edit/section/guestbook/</action>
                            </config>
                        </children>
                    </guestbook>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <guestbook>
                                            <title>MagPleasure - Guest Book</title>
                                        </guestbook>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <catalog>
                            <children>
                                <guestbook module="guestbook">
                                    <title>MagPleasure - Guest Book</title>
                                    <sort_order>100</sort_order>
                                    <children>
                                        <message module="guestbook">
                                            <title>Comments</title>
                                            <sort_order>10</sort_order>
                                        </message>
                                    </children>
                                </guestbook>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <guestbook>
                    <file>guestbook.xml</file>
                </guestbook>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magpleasure_Guestbook>
                    <files>
                        <default>Magpleasure_Guestbook.csv</default>
                    </files>
                </Magpleasure_Guestbook>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <guestbook>
            <menu>
                <enabled>1</enabled>
                <label>Guest Book</label>
                <position>8</position>
            </menu>
            <messages>
                <allow_guests>1</allow_guests>
                <record_per_page>10</record_per_page>
                <sort_order>ASC</sort_order>
            </messages>
        </guestbook>
    </default>
</config> 