<?xml version="1.0" encoding="UTF-8"?>
<config>
   <modules>
       <AddThis_SharingTool>
           <version>1.0.0</version>
       </AddThis_SharingTool>
   </modules>
   <global>
        <helpers>
            <sharingtool>
                <class>AddThis_SharingTool_Helper</class>
            </sharingtool>
        </helpers>
         <blocks>
            <sharingtool>
                <class>AddThis_SharingTool_Block</class>        
            </sharingtool>
         </blocks>       
        <models>
            <sharingtool>
                <class>AddThis_SharingTool_Model</class>        
            </sharingtool>
         </models>
        <resources>
            <sharingtool_setup>
                <setup>
                    <module>AddThis_SharingTool</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sharingtool_setup>
            <sharingtool_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sharingtool_write>
            <sharingtool_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sharingtool_read>
        </resources>
    </global>
    <default>
        <sharing_tool>
            <general>
                <enabled>1</enabled>
                <menuvx>300</menuvx>                
            </general>
            <button_style>
                <button_set>style_3</button_set>                
            </button_style>
            <compact>
                <advanced>0</advanced>                
            </compact>
            <api>
            	<ui_click>1</ui_click>
            	<ui_hover_direction>0</ui_hover_direction>
            	<ui_open_windows>0</ui_open_windows>
            	<ui_language>auto</ui_language>
            	<ui_use_css>1</ui_use_css>
            	<data_track_clickback>1</data_track_clickback>
            	<address_bar_share>0</address_bar_share>
            </api>
        </sharing_tool>
    </default>
    <frontend>
        <layout>
            <updates>
                <sharingtool>
                    <file>sharingtool.xml</file>
                </sharingtool>
            </updates>
        </layout>
         <events>
                       <core_block_abstract_to_html_after>
                               <observers>
                                       <sharingtool>
                                               <type>singleton</type>
                                               <class>sharingtool/observer</class>
                                               <method>addButtonsHtml</method>
                                       </sharingtool>
                               </observers>
                       </core_block_abstract_to_html_after>
         </events>
   </frontend>
   <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sharing_tool translate="title" module="sharingtool">
                                            <title>AddThis</title>
                                            <sort_order>52</sort_order>
                                        </sharing_tool>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl> 
    </adminhtml>
</config>