<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Topbuy_Catalog>
            <version>0.1.0</version>
        </Topbuy_Catalog>
    </modules> 
    <frontend> 
        <routers>
            <catalog>
				<use>standard</use>
                <args>
                    <modules>
                        <topbuy_catalog before="Mage_Catalog">Topbuy_Catalog</topbuy_catalog>
                    </modules>
                </args>
            </catalog>
        </routers>
    </frontend> 
</config>