#lifestyle {
	margin-top: 20px;
	border-top: solid 1px #CACACA;
	padding-top: 10px;	
}

#lifestyle label {
	font-weight: bold;
	display: block;
	margin-bottom: 3px;
}

#lifestyle textarea { 
	width: 80%;
	height: 100px;
	padding: 10px;
	background-color: #f1f1f1;
}