<?xml version="1.0"?>
<!--
/**
 *
 * Copyright CKApps.com
 * email: app@ckapps.com
 *
 */
 -->
<config>
    <modules>
        <CKApps_Codpay>
            <version>0.9.2</version>
        </CKApps_Codpay>
    </modules>
    <global>
        <models>
            <codpay>
                <class>CKApps_Codpay_Model</class>
            </codpay>  
        </models>
        <resources>
            <codpay_setup>
                <setup>
                    <module>CKApps_Codpay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </codpay_setup>
            <codpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </codpay_write>
            <codpay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </codpay_read>
        </resources>
        <blocks>
            <codpay><class>CKApps_Codpay_Block</class></codpay>
    	</blocks>
		  <helpers>
		  	   <codpay>
		  	   	   <class>CKApps_Codpay_Helper</class>
		  	   </codpay>
		  </helpers>
    </global>
    <frontend>
        <secure_url>
            <codpay_payment>/codpay/payment</codpay_payment>
        </secure_url>
        <routers>
            <codpay>
                <use>standard</use>
                <args>
                    <module>CKApps_Codpay</module>
                    <frontName>codpay</frontName>
                </args>
            </codpay>
        </routers>
        <translate>
            <modules>
                <CKApps_Codpay>
                    <files>
                        <default>CKApps_Codpay.csv</default>
                    </files>
                </CKApps_Codpay>
            </modules>
        </translate>
        <layout>
            <updates>
                <codpay>
                    <file>codpay.xml</file>
                </codpay>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <CKApps_Codpay>
                    <files>
                        <default>CKApps_Codpay.csv</default>
                    </files>
                </CKApps_Codpay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <codpay_payment>
                  <model>codpay/payment</model>
                  <title>Codpay</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
            </codpay_payment>
        </payment>
    </default>
</config>
