<?xml version="1.0"?>
<config>
    <modules>
        <Hellokeykey_Chinaregion>
            <version>0.1.0</version>
        </Hellokeykey_Chinaregion>
    </modules> 
    <global>
        <models>
            <chinaregion>
                <class>Hellokeykey_Chinaregion_Model</class>
                <resourceModel>chinaregion_mysql4</resourceModel>
            </chinaregion>
        </models>
        <resources>
            <chinaregion_setup>
                <setup>
                    <module>Hellokeykey_Chinaregion</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </chinaregion_setup>
            <chinaregion_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </chinaregion_write>
            <chinaregion_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </chinaregion_read>
        </resources>
        <helpers>
            <chinaregion>
                <class>Hellokeykey_Chinaregion_Helper</class>
            </chinaregion>
        </helpers>
    </global>
</config>