<?xml version="1.0"?>
<config>
    <modules>
        <Magpleasure_Seopagination>
            <version>1.0.2</version>
        </Magpleasure_Seopagination>
    </modules>
    <frontend>
        <events>
            <controller_action_predispatch_rewritingfilters_category_view>
                <observers>
                    <seopagination_rewritingfilters_category_view>
                        <class>seopagination/observer</class>
                        <method>catalogProductViewLoadBefore</method>
                    </seopagination_rewritingfilters_category_view>
                </observers>
            </controller_action_predispatch_rewritingfilters_category_view>
            <controller_action_predispatch_catalog_category_view>
                <observers>
                    <seopagination_controller_action_layout_generate_blocks_after>
                        <class>seopagination/observer</class>
                        <method>catalogProductViewLoadBefore</method>
                    </seopagination_controller_action_layout_generate_blocks_after>
                </observers>
            </controller_action_predispatch_catalog_category_view>
            <catalog_category_load_after>
                <observers>
                    <seopagination_catalog_category_load_after>
                        <class>seopagination/observer</class>
                        <method>catalogCategoryLoadAfter</method>
                    </seopagination_catalog_category_load_after>
                </observers>
            </catalog_category_load_after>
            <controller_action_predispatch_catalog_category_view>
                <observers>
                    <seopagination_controller_action_predispatch>
                        <class>seopagination/observer</class>
                        <method>pagePredispatch</method>
                    </seopagination_controller_action_predispatch>
                </observers>
            </controller_action_predispatch_catalog_category_view>
        </events>
        <routers>
            <seopagination>
                <use>standard</use>
                <args>
                    <module>Magpleasure_Seopagination</module>
                    <frontName>seopagination</frontName>
                </args>
            </seopagination>
        </routers>
        <layout>
            <updates>
                <seopagination>
                    <file>seopagination.xml</file>
                </seopagination>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<seopagination>
				<use>admin</use>
				<args>
					<module>Magpleasure_Seopagination</module>
					<frontName>seopagination</frontName>
				</args>
			</seopagination>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <seobundle>
                                            <title>Magpleasure - SEO Bundle</title>
                                        </seobundle>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<layout>
			<updates>
				<seopagination>
					<file>seopagination.xml</file>
				</seopagination>
			</updates>
		</layout>
        <translate>
            <modules>
                <Magpleasure_Seopagination>
                    <files>
                        <default>Magpleasure_Seopagination.csv</default>
                    </files>
                </Magpleasure_Seopagination>
            </modules>
        </translate>        
    </adminhtml>   
    <global>
        <models>
            <seopagination>
                <class>Magpleasure_Seopagination_Model</class>
                <resourceModel>seopagination_mysql4</resourceModel>
            </seopagination>
            <seopagination_mysql4>
                <class>Magpleasure_Seopagination_Model_Mysql4</class>
            </seopagination_mysql4>
            <catalog>
                <rewrite />
                <xrewrite>
                    <layer_filter_item>Magpleasure_Seopagination_Model_Catalog_Layer_Filter_Item</layer_filter_item>
                </xrewrite>
            </catalog>
        </models>
        <resources>
            <seopagination_setup>
                <setup>
                    <module>Magpleasure_Seopagination</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seopagination_setup>
            <seopagination_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </seopagination_write>
            <seopagination_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </seopagination_read>
        </resources>
        <blocks>
            <seopagination>
                <class>Magpleasure_Seopagination_Block</class>
            </seopagination>
            <page>
                <rewrite/>
                <xrewrite>
                    <html_pager>Magpleasure_Seopagination_Block_Page_Html_Pager</html_pager>
                </xrewrite>
            </page>
            <catalog>
                <rewrite/>
                <xrewrite>
                    <product_list_toolbar>Magpleasure_Seopagination_Block_Catalog_Product_List_Toolbar</product_list_toolbar>
                </xrewrite>
            </catalog>
        </blocks>
        <helpers>
            <seopagination>
                <class>Magpleasure_Seopagination_Helper</class>
            </seopagination>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <seopagination_init_routers>
                        <type>singleton</type>
                        <class>Magpleasure_Seopagination_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </seopagination_init_routers>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <default>
        <seobundle>
            <pagination>
                <enabled>1</enabled>
                <seo_pages>1</seo_pages>
                <nofollow>1</nofollow>
                <relnextprev>1</relnextprev>
                <description_on_first>1</description_on_first>
            </pagination>
        </seobundle>
    </default>
</config>