<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Click2Customer_Analytics>
            <version>1.0</version>
        </Click2Customer_Analytics>
    </modules>
    <global>
        <blocks>
            <click2customer_analytics>
                <class>Click2Customer_Analytics_Block</class>
            </click2customer_analytics>
            <page>
                <rewrite>
                    <html_head>Click2Customer_Analytics_Block_Html_Head</html_head>
                </rewrite>
                <feedexact>Click2Customer_Analytics_Block_Analytics</feedexact>
            </page>
        </blocks>
        <models>
            <analytics>
                <class>Click2Customer_Analytics_Model</class>
            </analytics>
        </models>
        <helpers>
            <analytics>
                <class>Click2Customer_Analytics_Helper</class>
            </analytics>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <analytics>
                                            <title>Click2Customer</title>
                                        </analytics>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <clickcustomer_analytics module="Click2Customer_Analytics">
                    <file>click2customer_analytics.xml</file>
                </clickcustomer_analytics>
            </updates>
        </layout>
    </frontend>
</config>
