<?xml version="1.0"?>

<config>
    <frontend>
        <routers>
            <facebookfree>
                <use>standard</use>
                <args>
                    <module>Belvg_FacebookFree</module>
                    <frontName>facebookfree</frontName>
                </args>
            </facebookfree>
        </routers>
        <layout>
            <updates>
                <facebookfree>
                    <file>belvg/facebookfree.xml</file>
                </facebookfree>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <facebookfree>
                <class>Belvg_FacebookFree_Block</class>
            </facebookfree>
            <page>
                <rewrite>
                    <html_header>Belvg_FacebookFree_Block_Page_Html_Header</html_header>
                </rewrite>
            </page>
        </blocks>
        <helpers>
            <facebookfree>
                <class>Belvg_FacebookFree_Helper</class>
            </facebookfree>
        </helpers>
        <models>
            <facebookfree>
                <class>Belvg_FacebookFree_Model</class>
                <resourceModel>facebookfree_resource</resourceModel>
            </facebookfree>
            <facebookfree_resource>
                <class>Belvg_FacebookFree_Model_Resource</class>
                <deprecatedNode>facebookfree_mysql4</deprecatedNode>
                <entities>
                    <facebookfree>
                        <table>belvg_facebook_customer</table>
                    </facebookfree>
                </entities>
            </facebookfree_resource>
        </models>
        <resources>
            <facebookfree_setup>
                <setup>
                    <module>Belvg_FacebookFree</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </facebookfree_setup>
            <facebookfree_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </facebookfree_write>
            <facebookfree_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </facebookfree_read>
        </resources>
    </global>
    <default>
        <facebookfree>
            <settings>
                <defimage><![CDATA[images/belvg/fb.gif]]>
                </defimage>
            </settings>
            <like>
                <enabled>0</enabled>
                <faces>0</faces>
                <width>450</width>
                <color>light</color>
                <layout>standart</layout>
            </like>
        </facebookfree>
    </default>
</config>