<?xml version="1.0"?>
<config>
    <modules>
        <EM_Megamenupro>
            <version>0.1.0</version>
        </EM_Megamenupro>
    </modules>
    <frontend>
        <routers>
            <megamenupro>
                <use>standard</use>
                <args>
                    <module>EM_Megamenupro</module>
                    <frontName>megamenupro</frontName>
                </args>
            </megamenupro>
        </routers>
        <layout>
            <updates>
                <megamenupro>
                    <file>em_megamenupro.xml</file>
                </megamenupro>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <megamenupro before="Mage_Adminhtml">EM_Megamenupro_Adminhtml</megamenupro>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
		<translate>
            <modules>
                <EM_Megamenupro>
                    <files>
                        <default>EM_Megamenupro.csv</default>
                    </files>
                </EM_Megamenupro>				
            </modules>
        </translate>
		<menu>
			<!-- <cms>
							<children>
								<megamenupro module="megamenupro">
									<title>EM Menu Manager</title>
									<sort_order>21</sort_order>               
									<action>adminhtml/megamenupro</action>
								</megamenupro>
							</children>
						</cms>		 -->
			<emthemes module="megamenupro" translate="title">
				<title>EMThemes</title>
				<sort_order>72</sort_order>
				<children>
					<emmegamenupro module="megamenupro" translate="title">
						<title>EM Menu Manager</title>
						<sort_order>160</sort_order>
						<action>adminhtml/megamenupro/</action>
					</emmegamenupro>
				</children>
			</emthemes>	
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<cms>
							<children>
								<EM_Megamenupro>
									<title>Megamenupro Module</title>
									<sort_order>10</sort_order>
								</EM_Megamenupro>
							</children>
						</cms>						
					</children>
				</admin>
			</resources>			
		</acl>
		<layout>
			<updates>
				<megamenupro>
					<file>em_megamenupro.xml</file>
				</megamenupro>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <megamenupro>
                <class>EM_Megamenupro_Model</class>
                <resourceModel>megamenupro_mysql4</resourceModel>
            </megamenupro>
            <megamenupro_mysql4>
                <class>EM_Megamenupro_Model_Mysql4</class>
                <entities>
                    <megamenupro>
                        <table>megamenupro</table>
                    </megamenupro>
                </entities>
            </megamenupro_mysql4>
        </models>
        <resources>
            <megamenupro_setup>
                <setup>
                    <module>EM_Megamenupro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </megamenupro_setup>
            <megamenupro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </megamenupro_write>
            <megamenupro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </megamenupro_read>
        </resources>
        <blocks>
            <megamenupro>
                <class>EM_Megamenupro_Block</class>
            </megamenupro>
        </blocks>
        <helpers>
            <megamenupro>
                <class>EM_Megamenupro_Helper</class>
            </megamenupro>
        </helpers>
    </global>
</config>