<?xml version="1.0"?>
<config>
  <modules>
    <Topbuy_Tbcustomer>
      <version>0.1.0</version>
    </Topbuy_Tbcustomer>
  </modules>
  <global>
    <helpers>
      <tbcustomer>
        <class>Topbuy_Tbcustomer_Helper</class>
      </tbcustomer>
    </helpers>
	<models>
	  <tbcustomer>
		<class>Topbuy_Tbcustomer_Model</class>
		<resourceModel>tbcustomer_mysql4</resourceModel>
	  </tbcustomer>
	</models>
	<resources>
	  <customerattribute1338780099_setup>
		<setup>
		  <module>Topbuy_Tbcustomer</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1338780099_setup>
	  <customerattribute1338780099_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1338780099_write>
	  <customerattribute1338780099_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1338780099_read>
	</resources>
  </global>
</config> 