<?xml version="1.0"?>
<!-- 
/**
 * Anais_Breadcrumbs extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category   Anais
 * @package    Anais_Breadcrumbs
 * @copyright  Copyright (c) 2011 Anais Software Services
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */ 
 /**
 * @category   Anais
 * @package    Anais_Breadcrumbs
 * @author     Marius Strajeru <marius.strajeru@anais-it.com>
 */  
 -->
 <config>
	<modules>
    	<Anais_Breadcrumbs>
        	<version>1.0.0</version>
      	</Anais_Breadcrumbs>
    </modules>
    <global>
    	<models>
    		<breadcrumbs>
    			<class>Anais_Breadcrumbs_Model</class>
    		</breadcrumbs>
    	</models>
    	<helpers>
    		<breadcrumbs>
    			<class>Anais_Breadcrumbs_Helper</class>
    		</breadcrumbs>
    	</helpers>
    </global>
    <frontend>
    	<events>
	 	 	<controller_action_layout_render_before_customer_account_index>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_customer_account_index</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_customer_account_index>
	 	 	<controller_action_layout_render_before_customer_address_index>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_customer_address_index</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_customer_address_index>
	 	 	<controller_action_layout_render_before_customer_address_form>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_customer_address_form</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_customer_address_form>
	 	 	<controller_action_layout_render_before_customer_account_edit>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_customer_account_edit</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_customer_account_edit>
	 	 	<controller_action_layout_render_before_sales_order_history>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_sales_order_history</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_sales_order_history>
	 	 	<controller_action_layout_render_before_sales_order_view>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_sales_order_view</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_sales_order_view>
	 	 	<controller_action_layout_render_before_sales_order_invoice>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_sales_order_invoice</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_sales_order_invoice>
	 	 	<controller_action_layout_render_before_sales_order_shipment>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_sales_order_shipment</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_sales_order_shipment>
	 	 	<controller_action_layout_render_before_sales_order_creditmemo>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_sales_order_creditmemo</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_sales_order_creditmemo>
	 	 	<controller_action_layout_render_before_sales_billing_agreement_index>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_sales_billing_agreement_index</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_sales_billing_agreement_index>
	 	 	<controller_action_layout_render_before_sales_recurring_profile_index>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_sales_recurring_profile_index</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_sales_recurring_profile_index>
	 	 	<controller_action_layout_render_before_review_customer_index>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_review_customer_index</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_review_customer_index>
	 	 	<controller_action_layout_render_before_review_customer_view>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_review_customer_view</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_review_customer_view>
	 	 	<controller_action_layout_render_before_tag_customer_index>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_tag_customer_index</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_tag_customer_index>
	 	 	<controller_action_layout_render_before_tag_customer_view>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_tag_customer_view</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_tag_customer_view>
	 	 	<controller_action_layout_render_before_wishlist_index_index>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_wishlist_index_index</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_wishlist_index_index>
	 	 	<controller_action_layout_render_before_customer_account_login>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_customer_account_login</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_customer_account_login>
	 	 	<controller_action_layout_render_before_customer_account_create>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_customer_account_create</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_customer_account_create>
	 	 	<controller_action_layout_render_before_customer_account_forgotpassword>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_customer_account_forgotpassword</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_customer_account_forgotpassword>
	 	 	<controller_action_layout_render_before_downloadable_customer_products>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_downloadable_customer_products</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_downloadable_customer_products>
	 	 	<controller_action_layout_render_before_newsletter_manage_index>
	 	 		<observers>
		            <breadcrumbs>
		                <type>singleton</type>
		                <class>breadcrumbs/layout_observer</class>
		                <method>controller_action_layout_render_before_newsletter_manage_index</method>
		            </breadcrumbs>
		        </observers>
	 	 	</controller_action_layout_render_before_newsletter_manage_index>
	 	</events>
        <translate>
	        <modules>
	            <Anais_Breadcrumbs>
	                <files>
	                    <default>Anais_Breadcrumbs.csv</default>
	                </files>
	            </Anais_Breadcrumbs>
	        </modules>
	    </translate>
    </frontend>
    <adminhtml>
   		<translate>
	        <modules>
	            <Anais_Breadcrumbs>
	                <files>
	                    <default>Anais_Breadcrumbs.csv</default>
	                </files>
	            </Anais_Breadcrumbs>
	        </modules>
	    </translate>
	    <events>
    		<controller_action_layout_generate_blocks_after>
    			<observers>
                    <breadcrumbs>
                        <class>breadcrumbs/adminhtml_observer</class>
                        <method>addConfigJsBlock</method>
                    </breadcrumbs>
                </observers>
    		</controller_action_layout_generate_blocks_after>
    	</events>
    </adminhtml>
    <default>
    	<breadcrumbs>
    		<settings>
    			<enable_all>1</enable_all>
    			<enable_home>1</enable_home>
    		</settings>
    	</breadcrumbs>
    </default>
</config>