<?xml version="1.0"?>
<config>
  <modules>
    <Topbuy_Getaway>
      <version>0.1.0</version>
    </Topbuy_Getaway>
  </modules>
  <frontend>
    <routers>
      <getaway>
        <use>standard</use>
          <args>
            <module>Topbuy_Getaway</module>
            <frontName>getaway</frontName>
          </args>
      </getaway>
    </routers>
	<layout>
      <updates>
        <getaway>
          <file>getaway.xml</file>
        </getaway>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <getaway>
        <class>Topbuy_Getaway_Helper</class>
      </getaway>
    </helpers>
	<blocks>
	  <getaway>
		<class>Topbuy_Getaway_Block</class>
	  </getaway>
	</blocks>
	<models>
	  <getaway>
		<class>Topbuy_Getaway_Model</class>
		<resourceModel>getaway_mysql4</resourceModel>
	  </getaway>
	  <getaway_mysql4>
		<class>Topbuy_Getaway_Model_Mysql4</class>
		<entities>
		  <getawayrecord>
			<table>tb_edm_landing_record</table>
		  </getawayrecord>
        </entities>
	  </getaway_mysql4>
	</models>
	<resources>
	  <getaway_setup>
		<setup>
		  <module>Topbuy_Getaway</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </getaway_setup>
	  <getaway_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </getaway_write>
	  <getaway_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </getaway_read>
	</resources>
  </global>
</config> 