<?xml version="1.0"?>
<config>
  <modules>
    <Topbuy_Noroute>
      <version>0.1.0</version>
    </Topbuy_Noroute>
  </modules>
  <frontend>
    <routers>
      <noroute>
        <use>standard</use>
          <args>
            <module>Topbuy_Noroute</module>
            <frontName>noroute</frontName>
          </args>
      </noroute>
    </routers>
	<layout>
      <updates>
        <noroute>
          <file>noroute.xml</file>
        </noroute>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <noroute>
        <class>Topbuy_Noroute_Helper</class>
      </noroute>
    </helpers>
	<blocks>
	  <noroute>
		<class>Topbuy_Noroute_Block</class>
	  </noroute>
	</blocks>
	<models>
	  <noroute>
		<class>Topbuy_Noroute_Model</class>
		<resourceModel>noroute_mysql4</resourceModel>
	  </noroute>
	  <noroute_mysql4>
		<class>Topbuy_Noroute_Model_Mysql4</class>
		<entities>
		  <norouterecord>
			<table>tb_norouterecord</table>
		  </norouterecord>
        </entities>
	  </noroute_mysql4>
	</models>
	<resources>
	  <noroute_setup>
		<setup>
		  <module>Topbuy_Noroute</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </noroute_setup>
	  <noroute_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </noroute_write>
	  <noroute_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </noroute_read>
	</resources>
  </global>
</config> 