<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <AW_Advancedsearch>
            <version>1.3.0</version><platform>ce</platform>
        </AW_Advancedsearch>
    </modules>
    <global>
        <helpers>
            <awadvancedsearch>
                <class>AW_Advancedsearch_Helper</class>
            </awadvancedsearch>
            <catalogsearch>
                <rewrite></rewrite>
                <drewrite>
                    <data>AW_Advancedsearch_Helper_Catalogsearch</data>
                </drewrite>
            </catalogsearch>
            <catalogSearch>
                <rewrite></rewrite>
                <drewrite>
                    <data>AW_Advancedsearch_Helper_Catalogsearch</data>
                </drewrite>
            </catalogSearch>
        </helpers>
        <models>
            <awadvancedsearch>
                <class>AW_Advancedsearch_Model</class>
                <resourceModel>awadvancedsearch_mysql4</resourceModel>
            </awadvancedsearch>
            <awadvancedsearch_mysql4>
                <class>AW_Advancedsearch_Model_Mysql4</class>
                <entities>
                    <catalogindexes>
                        <table>aw_as_catalogindexes</table>
                    </catalogindexes>
                </entities>
            </awadvancedsearch_mysql4>
        </models>
        <resources>
            <awadvancedsearch_setup>
                <setup>
                    <module>AW_Advancedsearch</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </awadvancedsearch_setup>
            <awadvancedsearch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </awadvancedsearch_write>
            <awadvancedsearch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </awadvancedsearch_read>
        </resources>
        <blocks>
            <awadvancedsearch>
                <class>AW_Advancedsearch_Block</class>
            </awadvancedsearch>
        </blocks>
    </global>
    <frontend>
        <translate>
            <modules>
                <AW_Advancedsearch>
                    <files>
                        <default>AW_Advancedsearch.csv</default>
                    </files>
                </AW_Advancedsearch>
            </modules>
        </translate>
        <layout>
            <updates>
                <awadvancedsearch module="awadvancedsearch">
                    <file>aw_advancedsearch.xml</file>
                </awadvancedsearch>
            </updates>
        </layout>
        <routers>
            <awadvancedsearch>
                <use>standard</use>
                <args>
                    <module>AW_Advancedsearch</module>
                    <frontName>advancedsearch</frontName>
                </args>
            </awadvancedsearch>
        </routers>
        <events>
            <controller_action_predispatch>
                <observers>
                    <awadvancedsearch_front_controller_predispatch>
                        <type>singleton</type>
                        <class>awadvancedsearch/observer</class>
                        <method>pageLoadBeforeFront</method>
                    </awadvancedsearch_front_controller_predispatch>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <admin>
        <routers>
            <awadvancedsearch_admin>
                <use>admin</use>
                <args>
                    <module>AW_Advancedsearch</module>
                    <frontName>awadvancedsearch_admin</frontName>
                </args>
            </awadvancedsearch_admin>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <AW_Advancedsearch>
                    <files>
                        <default>AW_Advancedsearch.csv</default>
                    </files>
                </AW_Advancedsearch>
            </modules>
        </translate>
        <menu>
            <awadvancedsearch module="awadvancedsearch">
                <title>Advanced Search</title>
                <sort_order>72</sort_order>
                <children>
                    <manage_indexes translate="title" module="awadvancedsearch">
                        <title>Manage Indexes</title>
                        <action>awadvancedsearch_admin/adminhtml_manageindexes/index</action>
                        <sort_order>10</sort_order>
                    </manage_indexes>
                    <settings translate="title" module="awadvancedsearch">
                        <title>Settings</title>
                        <action>adminhtml/system_config/edit/section/awadvancedsearch</action>
                        <sort_order>20</sort_order>
                    </settings>
                </children>
            </awadvancedsearch>
        </menu>
        <enterprise>
            <admingws>
                <collection_load_before>
                    <awadvancedsearch__catalogindexes_collection>addStoreFilter
                    </awadvancedsearch__catalogindexes_collection>
                </collection_load_before>
            </admingws>
        </enterprise>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <awadvancedsearch>
                            <title>Advanced Search</title>
                            <sort_order>10</sort_order>
                            <children>
                                <edit module="awadvancedsearch">
                                    <title>Manage Indexes</title>
                                    <sort_order>10</sort_order>
                                </edit>
                                <manage_indexes module="awadvancedsearch">
                                    <title>View Indexes</title>
                                    <sort_order>20</sort_order>
                                </manage_indexes>
                                <settings module="awadvancedsearch">
                                    <title>Settings Quick Link</title>
                                    <sort_order>30</sort_order>
                                </settings>
                            </children>
                        </awadvancedsearch>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <awadvancedsearch>
                                            <title><![CDATA[aheadWorks &ndash; Advanced Search section]]></title>
                                        </awadvancedsearch>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <awadvancedsearch module="awadvancedsearch">
                    <file>aw_advancedsearch.xml</file>
                </awadvancedsearch>
            </updates>
        </layout>
        <events>
            <admin_system_config_changed_section_awadvancedsearch>
                <observers>
                    <awadvancedsearch_config_save_after>
                        <type>singleton</type>
                        <class>awadvancedsearch/observer</class>
                        <method>afterConfigurationSave</method>
                    </awadvancedsearch_config_save_after>
                </observers>
            </admin_system_config_changed_section_awadvancedsearch>
            <catalog_product_save_after>
                <observers>
                    <awadvancedsearch_catalog_product_save_after>
                        <type>singleton</type>
                        <class>awadvancedsearch/observer</class>
                        <method>afterProductSave</method>
                    </awadvancedsearch_catalog_product_save_after>
                </observers>
            </catalog_product_save_after>
            <controller_action_postdispatch_adminhtml_catalog_product_save>
                <observers>
                    <awadvancedsearch_catalog_product_save_postdispatch>
                        <type>singleton</type>
                        <class>awadvancedsearch/observer</class>
                        <method>productSavePostDispatch</method>
                    </awadvancedsearch_catalog_product_save_postdispatch>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_save>
            <controller_action_postdispatch_blog_admin_manage_blog_save>
                <observers>
                    <awadvancedsearch_blog_post_save_postdispatch>
                        <type>singleton</type>
                        <class>awadvancedsearch/observer</class>
                        <method>blogSavePostDispatch</method>
                    </awadvancedsearch_blog_post_save_postdispatch>
                </observers>
            </controller_action_postdispatch_blog_admin_manage_blog_save>
            <controller_action_postdispatch_kbase_admin_adminhtml_article_save>
                <observers>
                    <awadvancedsearch_kbase_article_post_save_postdispatch>
                        <type>singleton</type>
                        <class>awadvancedsearch/observer</class>
                        <method>kbaseSavePostDispatch</method>
                    </awadvancedsearch_kbase_article_post_save_postdispatch>
                </observers>
            </controller_action_postdispatch_kbase_admin_adminhtml_article_save>
        </events>
    </adminhtml>
    <default>
        <awadvancedsearch>
            <general>
                <enable>1</enable>
            </general>
            <sphinx>
                <server_path></server_path>
                <server_addr>127.0.0.1</server_addr>
                <server_port>3312</server_port>
                <match_mode>0</match_mode>
            </sphinx>
        </awadvancedsearch>
    </default>
    <phpunit>
        <suite>
            <modules>
                <AW_Advancedsearch/>
            </modules>
        </suite>
    </phpunit>
    <crontab>
        <jobs>
            <awas_check_daemon>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>awadvancedsearch/cron::checkDaemon</model>
                </run>
            </awas_check_daemon>
            <awas_reindex>
                <schedule>
                    <cron_expr>2 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>awadvancedsearch/cron::runReindex</model>
                </run>
            </awas_reindex>
        </jobs>
    </crontab>
</config>
