<?xml version="1.0"?>
<config>
    <modules>
        <PWS_ProductQA>
            <version>0.1.2</version>
        </PWS_ProductQA>
    </modules>
    <frontend>
        <routers>
            <productqa>
                <use>standard</use>
                <args>
                    <module>PWS_ProductQA</module>
                    <frontName>productqa</frontName>
                </args>
            </productqa>
        </routers>
        <layout>
            <updates>
                <pws_productqa module="PWS_ProductQA">
                    <file>pws_productqa.xml</file>
                </pws_productqa>
            </updates>
        </layout>
        <translate>
            <modules>
                <PWS_ProductQA>
                    <files>
                        <default>PWS_ProductQA.csv</default>
                    </files>
                </PWS_ProductQA>
            </modules>
        </translate>
    </frontend>
    <admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
	 					<PWS_ProductQA before="Mage_Adminhtml">PWS_ProductQA_Adminhtml</PWS_ProductQA>
					</modules>
					<frontName>productqa</frontName>
				</args>
			</adminhtml>
		</routers>
   </admin>
   <adminhtml>
   		<translate>
            <modules>
                <PWS_ProductQA>
                    <files>
                        <default>PWS_ProductQA.csv</default>
                    </files>
                </PWS_ProductQA>
            </modules>
        </translate>
   		<layout>
			<updates>
				<pws_productqa>
					<file>pws_productqa.xml</file>
				</pws_productqa>
			</updates>
		</layout>
        <menu>
            <catalog>
                <children>
                    <pws_productqa translate="title" module="pws_productqa">
                        <title>Product Q and A</title>
                        <action>adminhtml/productqa/</action>
                        <sort_order>120</sort_order>
                    </pws_productqa>
                </children>
             </catalog>
        </menu>
		<acl>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <pws_productqa translate="title" module="pws_productqa">
                                    <title>ProductQA</title>
                                </pws_productqa>
                            </children>
                        </catalog>
                        <system>
		                    <children>
		                        <config>
		                            <children>
		                                <pws_productqa translate="title" module="pws_productqa">
		                                    <title>ProductQA Section</title>
		                                </pws_productqa>
		                            </children>
		                        </config>
		                    </children>
		                </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
		<models>
			<pws_productqa>
				<class>PWS_ProductQA_Model</class>
				<resourceModel>pws_productqa_mysql4</resourceModel>
			</pws_productqa>
			<pws_productqa_mysql4>
            	<class>PWS_ProductQA_Model_Mysql4</class>
            	<entities>
		            <productqa>
		                <table>pws_productqa</table>
		            </productqa>
            	</entities>
        	</pws_productqa_mysql4>
		</models>
		<resources>
            <pws_productqa_setup>
                <setup>
                    <module>PWS_ProductQA</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pws_productqa_setup>
            <pws_productqa_write>
				<connection>
					<use>core_write</use>
				</connection>
			</pws_productqa_write>
			<pws_productqa_read>
				<connection>
					<use>core_read</use>
				</connection>
			</pws_productqa_read>
   		</resources>
		<blocks>
			  <pws_productqa>
			  	 <class>PWS_ProductQA_Block</class>
			  </pws_productqa>
		</blocks>
		<helpers>
			<pws_productqa>
				<class>PWS_ProductQA_Helper</class>
			</pws_productqa>
		</helpers>
		<template>
            <email>
                <product_qa_answer translate="label" module="pws_productqa">
                    <label>Product QA Answer</label>
                    <file>pws_productqa/product_qa_answer.html</file>
                    <type>html</type>
                </product_qa_answer>
                <product_qa_notification translate="label" module="pws_productqa">
                    <label>Product QA Notification</label>
                    <file>pws_productqa/product_qa_notification.html</file>
                    <type>html</type>
                </product_qa_notification>
            </email>
        </template>
    </global>
    <default>
        <pws_productqa>
            <emails>
            	<email_identity>general</email_identity>
            </emails>
        </pws_productqa>
    </default>
</config>
