<?xml version="1.0"?>
<!--
/**
 *
 * Copyright CKApps.com
 * email: app@ckapps.com
 *
 */
 -->
<config>
    <modules>
        <CKApps_SinaLogin>
            <version>0.1.0</version>
        </CKApps_SinaLogin>
    </modules>
    <global>
	        <models>
            <sinalogin>
                <class>CKApps_SinaLogin_Model</class>  
            </sinalogin>
        </models>
       <resources>
            <sinalogin_setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sinalogin_setup>
            <sinalogin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sinalogin_write>
            <sinalogin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sinalogin_read>
        </resources>   
		  <helpers>
		  	   <sinalogin>
		  	   	   <class>CKApps_SinaLogin_Helper</class>
		  	   </sinalogin>
		  </helpers>
    </global>
    <frontend>
    	 <secure_url>
            <sinalogin_login>/sinalogin/login</sinalogin_login>
        </secure_url>
        <routers>
            <sinalogin>
                <use>standard</use>
                <args>
                    <module>CKApps_SinaLogin</module>
                    <frontName>sinalogin</frontName>
                </args>
            </sinalogin>
        </routers>
         <translate>
            <modules>
                <CKApps_SinaLogin>
                    <files>
                        <default>CKApps_SinaLogin.csv</default>
                    </files>
                </CKApps_SinaLogin>
            </modules>
        </translate>
    </frontend>
     <adminhtml>
        <translate>
            <modules>
                <CKApps_SinaLogin>
                    <files>
                        <default>CKApps_SinaLogin.csv</default>
                    </files>
                </CKApps_SinaLogin>
            </modules>
        </translate>
    </adminhtml>   
    <default>
        <payment>
            <sinalogin_login>
                  <model>sinalogin/login</model>
                  <gateway>api.t.sina.com.cn/oauth/access_token</gateway>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
            </sinalogin_login>
        </payment>
    </default>
</config>
