<?xml version="1.0"?>
<config>
    <modules>
        <Wee_Fpc>
             <version>1.2.0.3</version>
        </Wee_Fpc>
    </modules>
    <global>
        <models>
            <wee_fpc>
                <class>Wee_Fpc_Model</class>
                <resourceModel>wee_fpc_mysql4</resourceModel>
            </wee_fpc>
            <wee_fpc_mysql4>
                <class>Wee_Fpc_Model_Mysql4</class>
            </wee_fpc_mysql4>
        </models>
        <helpers>
            <wee_fpc>
                <class>Wee_Fpc_Helper</class>
            </wee_fpc>
        </helpers>
        <blocks>
            <wee_fpc>
                <class>Wee_Fpc_Block</class>
            </wee_fpc>
            <checkout>
                <rewrite>
                    <links>Wee_Fpc_Block_Checkout_Links</links>
                </rewrite>
            </checkout>
            <wishlist>
                <rewrite>
                    <links>Wee_Fpc_Block_Wishlist_Links</links>
                    <customer_sidebar>Wee_Fpc_Block_Wishlist_Customer_Sidebar</customer_sidebar>
                </rewrite>
            </wishlist>
            <page>
                <rewrite>
                    <html_header>Wee_Fpc_Block_Html_Header</html_header>
                </rewrite>
            </page>
            <reports>
                <rewrite>
                    <product_viewed>Wee_Fpc_Block_Reports_Product_Viewed</product_viewed>
                </rewrite>
            </reports>
        </blocks>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <wee_fpc>
                    <file>wee_fpc.xml</file>
                </wee_fpc>
            </updates>
        </layout>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mgt-commerce_fpc translate="title" module="wee_fpc">
                                            <title>mgt-commerce</title>
                                        </mgt-commerce_fpc>
                                    </children>
                                </config>
                            </children>
                        </system>
                   </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <events>
            <controller_action_postdispatch>
                <observers>
                    <wee_fpc>
                        <class>wee_fpc/observer</class>
                        <method>processPostDispatch</method>
                    </wee_fpc>
                </observers>
            </controller_action_postdispatch>
            <catalog_product_compare_add_product>
                <observers>
                    <wee_fpc>
                        <class>wee_fpc/observer</class>
                        <method>addCompareProduct</method>
                    </wee_fpc>
                </observers>
            </catalog_product_compare_add_product>
            <catalog_product_compare_remove_product>
                <observers>
                    <wee_fpc>
                        <class>wee_fpc/observer</class>
                        <method>removeCompareProduct</method>
                    </wee_fpc>
                </observers>
            </catalog_product_compare_remove_product>
            <catalog_product_compare_item_collection_clear>
                <observers>
                    <wee_fpc>
                        <class>wee_fpc/observer</class>
                        <method>clearCompareProducts</method>
                    </wee_fpc>
                </observers>
            </catalog_product_compare_item_collection_clear>
            <catalog_controller_product_view>
                <observers>
                    <wee_fpc>
                        <class>wee_fpc/observer</class>
                        <method>catalogProductView</method>
                    </wee_fpc>
                </observers>
            </catalog_controller_product_view>
        </events>
        <layout>
            <updates>
                <wee_fpc>
                    <file>wee_fpc.xml</file>
                </wee_fpc>
            </updates>
        </layout>
        <wee_fpc>
            <allowed_requests>
                <cms/>
                <catalog>
                    <category><view/></category>
                </catalog>
                <catalog>
                    <product><view/></product>
                </catalog>
            </allowed_requests>
            <content_processors>
                <cart_link>Wee_Fpc_Model_Processor_CartLink</cart_link>
                <!--<header_cart>Wee_Fpc_Model_Processor_HeaderCart</header_cart>-->
                <cart_sidebar>Wee_Fpc_Model_Processor_CartSidebar</cart_sidebar>
                <login_logout>Wee_Fpc_Model_Processor_LoginLogout</login_logout>
                <welcome_message>Wee_Fpc_Model_Processor_WelcomeMessage</welcome_message>
                <product_compare>Wee_Fpc_Model_Processor_ProductCompare</product_compare>
                <wishlist_link>Wee_Fpc_Model_Processor_WishlistLink</wishlist_link>
                <wishlist_sidebar>Wee_Fpc_Model_Processor_WishlistSidebar</wishlist_sidebar>
                <product_viewed>Wee_Fpc_Model_Processor_ProductViewed</product_viewed>
            </content_processors>
        </wee_fpc>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Wee_Fpc before="Mage_Adminhtml">Wee_Fpc_Adminhtml</Wee_Fpc>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <mgt-commerce_fpc>
            <full_page_cache>
                <cache_lifetime>3600</cache_lifetime>
                <memcached_host>127.0.0.1</memcached_host>
                <memcached_port>11211</memcached_port>
            </full_page_cache>
        </mgt-commerce_fpc>
    </default>
</config>
