<?xml version="1.0"?>
<config>
    <modules>
        <WebspeaksBasket_Basket>
            <version>0.1.0</version>
        </WebspeaksBasket_Basket>
    </modules>
    <frontend>
        <routers>
            <basket>
                <use>standard</use>
                <args>
                    <module>WebspeaksBasket_Basket</module>
                    <frontName>basket</frontName>
                </args>
            </basket>
        </routers>
        <layout>
            <updates>
                <basket>
                    <file>basket.xml</file>
                </basket>
            </updates>
        </layout>
    </frontend>
    <!--<admin>
        <routers>
			<basket>
				<use>admin</use>
				<args>
					<module>WebspeaksBasket_Basket</module>
					<frontName>basket</frontName>
				</args>
			</basket>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<basket module="basket">
				<title>Basket</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="basket">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>basket/adminhtml_basket</action>
					</items>
				</children>
			</basket>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<WebspeaksBasket_Basket>
							<title>Basket Module</title>
							<sort_order>10</sort_order>
						</WebspeaksBasket_Basket>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<basket>
					<file>basket.xml</file>
				</basket>
			</updates>
		</layout>
    </adminhtml>   -->
    <global>
        <models>
            <basket>
                <class>WebspeaksBasket_Basket_Model</class>
                <resourceModel>basket_mysql4</resourceModel>
            </basket>
            <basket_mysql4>
                <class>WebspeaksBasket_Basket_Model_Mysql4</class>
                <entities>
                    <basket>
                        <table>basket</table>
                    </basket>
                </entities>
            </basket_mysql4>
        </models>
        <resources>
            <basket_setup>
                <setup>
                    <module>WebspeaksBasket_Basket</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </basket_setup>
            <basket_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </basket_write>
            <basket_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </basket_read>
        </resources>
        <blocks>
            <basket>
                <class>WebspeaksBasket_Basket_Block</class>
            </basket>
        </blocks>
        <helpers>
            <basket>
                <class>WebspeaksBasket_Basket_Helper</class>
            </basket>
        </helpers>
    </global>
</config>