<?xml version="1.0"?>
<config>
    <modules>
        <NeedTool_OfflineM1>
            <version>1.0.0</version>
        </NeedTool_OfflineM1>
    </modules>
    <global>
				<helpers>
           <offlinem1><class>NeedTool_OfflineM1_Helper</class></offlinem1>
        </helpers> 
        <models>
            <offlinem1>
                <class>NeedTool_OfflineM1_Model</class>
            </offlinem1>
        </models>
        <resources>
            <offlinem1_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </offlinem1_write>
            <offlinem1_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </offlinem1_read>
        </resources>
        <blocks>
            <offlinem1><class>NeedTool_OfflineM1_Block</class></offlinem1>
    	</blocks>
        <payment>
            <offlinem1_payment>
            </offlinem1_payment>
        </payment>
    </global>
    <frontend>
        <translate>
            <modules>
                <NeedTool_OfflineM1>
                    <files>
                        <default>NeedTool_OfflineM1.csv</default>
                    </files>
                </NeedTool_OfflineM1>
            </modules>
        </translate>
        <layout>
            <updates>
                <offlinem1>
                    <file>offlinem1.xml</file>
                </offlinem1>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <NeedTool_OfflineM1>
                    <files>
                        <default>NeedTool_OfflineM1.csv</default>
                    </files>
                </NeedTool_OfflineM1>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <offlinem1_payment>
                  <model>offlinem1/payment</model>
                  <title>货到付款</title>
                  <payimgurl></payimgurl>
                  <payinfo></payinfo>
                  <order_status>pending</order_status>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
            </offlinem1_payment>
        </payment>
    </default>
</config>
