<?xml version="1.0"?>
<config>
  <modules>
    <Rack_SelfDelete>
      <version>0.3.0</version>
    </Rack_SelfDelete>
  </modules>
  <global>
    <blocks>
        <selfdelete>
            <class>Rack_SelfDelete_Block</class>
        </selfdelete>
        <sales>
            <rewrite>
                <order_view>Rack_SelfDelete_Block_Order_View</order_view>
            </rewrite>
        </sales>
    </blocks>
    <models>
      <selfdelete>
        <class>Rack_SelfDelete_Model</class>
      </selfdelete>
    </models>
    <helpers>
      <selfdelete>
        <class>Rack_SelfDelete_Helper</class>
      </selfdelete>
    </helpers>
  </global>
  <frontend>
      <routers>
          <selfdelete>
            <use>standard</use>
            <args>
                <module>Rack_SelfDelete</module>
                <frontName>selfdelete</frontName>
            </args>
          </selfdelete>
      </routers>
      <layout>
          <updates>
              <selfdelete>
                  <file>rack_selfdelete.xml</file>
              </selfdelete>
          </updates>
      </layout>
      <translate>
            <modules>
                <Rack_SelfDelete>
                    <files>
                        <default>Rack_SelfDelete.csv</default>
                    </files>
                </Rack_SelfDelete>
            </modules>
        </translate>
      <secure_url>
          <selfdelete>/selfdelete/</selfdelete>
      </secure_url>
  </frontend>
  <adminhtml>
    <translate>
      <modules>
        <Rack_SelfDelete>
          <files>
            <default>Rack_SelfDelete.csv</default>
          </files>
        </Rack_SelfDelete>
      </modules>
    </translate>
    <acl>
        <resources>
            <all>
                <title>Allow Everything</title>
            </all>
            <admin>
                <children>
                    <system>
                        <children>
                            <config>
                                <children>
                                    <selfdelete translate="title" module="selfdelete">
                                        <title>SelfDelete Section</title>
                                    </selfdelete>
                                </children>
                            </config>
                        </children>
                    </system>
                </children>
            </admin>
        </resources>
    </acl>
    <system>
      <children>
        <config>
          <children>
            <selfdelete>
              <title>Customer Self Delete Setting</title>
            </selfdelete>
          </children>
        </config>
      </children>
    </system>
  </adminhtml>
  <default>
      <selfdelete>
          <selfdelete>
              <candeletecustomer>false</candeletecustomer>
              <candeleteorder>false</candeleteorder>
          </selfdelete>
      </selfdelete>
  </default>
</config>
