<!--@subject {{var parent.name}} invites you to visit {{var store_name}} @-->
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var store.getFrontendName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Dear {{var referral.rewardpoints_referral_name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Your friend {{var parent.name}} ({{var parent.email}}) has invited you to visit our exclusive <a href="{{store url=""}}">{{var store_name}}</a> Store.</p>

<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">On our store are available a great variety of products and many interesting promotion and discounts!
Like the one used by your friend to introduce you to our store.</p>

<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">If you register and order on {{var store_name}} with this email address: {{var referral.rewardpoints_referral_email}}, you will allow your friend, {{var parent.name}} ({{var parent.email}}), to earn some loyalty points.</p>

<p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Moreover by simplyng registering to our store also you will be already rewarded with some exclusive points which can be use in our store for additional discounts!</p>

                            <p style="font-size:12px; line-height:16px; margin:0;">If you have any questions about us or any other matter, please feel free to contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a>.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Thank you again, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>