<?xml version="1.0" encoding="utf-8"?>

<config>
	<modules>
		<Dh_Deliverydate>
			<version>0.1.0</version>
		</Dh_Deliverydate>
	</modules>
	<global>
		<models>
			<deliverydate>
				<class>Dh_Deliverydate_Model</class>
				<resourceModel>deliverydate_mysql4</resourceModel>
			</deliverydate>
			<deliverydate_mysql4>
				<class>Dh_Deliverydate_Model_Mysql4</class>
				<entities>
					<date>
						<table>delivery_date</table>
					</date>
				</entities>   
			</deliverydate_mysql4>
		</models>
		<helpers>
			<deliverydate>
				<class>Dh_Deliverydate_Helper</class>
			</deliverydate>
		</helpers>
		<resources>
			<deliverydate_setup>   
				<setup>
					<module>Dh_Deliverydate</module>
					<class>Mage_Sales_Model_Mysql4_Setup</class>
				</setup>
			</deliverydate_setup>
		</resources>
		<blocks>
			<deliverydate>
				<class>Dh_Deliverydate_Block</class>
			</deliverydate>
		</blocks>
	</global>
	<frontend>
		<translate>
            <modules>
                <Dh_Deliverydate>
                    <files>
                        <default>Dh_Deliverydate.csv</default>
                    </files>
                </Dh_Deliverydate>
            </modules>
        </translate>
		<layout>
			<updates>
				<deliverydate>
					<file>deliverydate.xml</file>
				</deliverydate>
			</updates>
		</layout>
		<events>
			<sales_convert_quote_to_order>
				<observers>
					<deliverydate>
						<type>model</type>
						<class>deliverydate/observer</class>
						<method>salesEventConvertQuoteToOrder</method>
					</deliverydate>
				</observers>
			</sales_convert_quote_to_order>
			<checkout_controller_onepage_save_shipping_method>
				<observers>
					<deliverydate>
						<type>model</type>
						<class>deliverydate/observer</class>
						<method>checkoutEventCreateDeliverydate</method>
					</deliverydate>
				</observers>
			</checkout_controller_onepage_save_shipping_method>
		</events>
	</frontend>
	 <adminhtml>
		<layout>
			<updates>
				<adminhtml_deliverydate>
					<file>deliverydate.xml</file>
				</adminhtml_deliverydate>
			</updates>
		</layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <deliverydate_options>
                                            <title>Delivery dates</title>
                                        </deliverydate_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
		<translate>
			<modules>
				<Dh_Deliverydate>
					<files>
						<default>Dh_Deliverydate.csv</default>
					</files>
				</Dh_Deliverydate>
			</modules>
		</translate>
    </adminhtml>
	<default>
		<deliverydate_options>
			<basic_settings>
				<enabled>1</enabled>			
				<plug_and_play>1</plug_and_play>
				<frontend_label>Delivery date</frontend_label>			
			</basic_settings>
			<character_count>
				<enabled>1</enabled>			
				<maximum_characters>500</maximum_characters>			
			</character_count>
		</deliverydate_options>
    </default>
	
</config>