<?xml version="1.0"?>
<config>
    <modules>
        <Activo_Categoryurlseo>
            <version>1.0.0</version>
        </Activo_Categoryurlseo>
    </modules>
    
    <global>
        <helpers>
            <categoryurlseo>
                <class>Activo_Categoryurlseo_Helper</class>
            </categoryurlseo>
            <catalog>
                <rewrite>
                    <category>Activo_Categoryurlseo_Helper_Category</category>
                </rewrite>
            </catalog>
        </helpers>
        <models>
            <categoryurlseo>
                <class>Activo_Categoryurlseo_Model</class>
            </categoryurlseo>
            <catalog>
                <rewrite>
                    <url>Activo_Categoryurlseo_Model_Url</url>
                </rewrite>
            </catalog>
        </models>
    </global>
    <adminhtml>
         <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <activo_categoryurlseo>
                                            <title>SEO Friendly Category</title>
                                        </activo_categoryurlseo>
                                    </children>
                                </config>
                            </children>
                        </system>
                   </children>
               </admin>
           </resources>
        </acl>
    </adminhtml>
    <default>
        <activo_categoryurlseo>
            <global>
                <enabled>1</enabled>
                <toplevel></toplevel>
            </global>
        </activo_categoryurlseo>
    </default>
</config>
