<?xml version="1.0"?>
<config>
	<modules>
		<Eisbehr_FbLikeBox>
			<version>0.1.0</version>
		</Eisbehr_FbLikeBox>
	</modules>
	<global>
		<models>
			<fblikebox>
        		<class>Eisbehr_FbLikeBox_Model</class>
			</fblikebox>
		</models>
	    <blocks>
            <fblikebox>
                <class>Eisbehr_FbLikeBox_Block</class>
            </fblikebox>
        </blocks>
		<helpers>
            <fblikebox>
                <class>Eisbehr_FbLikeBox_Helper</class>
            </fblikebox>
        </helpers>
	</global>
	<frontend>	  
		<layout>
			<updates>
				<fblikebox>
					<file>fblikebox.xml</file>
				</fblikebox>
            </updates>
        </layout>
		<translate>
			<modules>
				<Eisbehr_FbLikeBox>
					<files>
						<default>Eisbehr_FbLikeBox.csv</default>
					</files>
				</Eisbehr_FbLikeBox>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <fblikebox translate="title" module="fblikebox">
                                            <title>Eisbehr FbLikeBox</title>
                                            <sort_order>100</sort_order>
                                        </fblikebox>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>