<?xml version="1.0"?>
<config>
	<modules>
		<NeedTool_ChinaYto>
			<version>0.1.1</version>
			<depends>
				<Mage_Shipping />
			</depends>
		</NeedTool_ChinaYto>
	</modules>
	<global>
		<models>
			<NeedTool_ChinaYto>
				<class>NeedTool_ChinaYto</class>
			</NeedTool_ChinaYto>
 		</models>
    <helpers>
      	<ChinaYto>
        		<class>NeedTool_ChinaYto_Helper</class>
       	</ChinaYto>
    </helpers>
 		<resources>
			<sales>
				<shipping>
					<carriers>
						<Cnexp>
							<class>NeedTool_ChinaYto_Model_Carrier_Cnexp</class>
						</Cnexp>
						<Cnexpcod>
							<class>NeedTool_ChinaYto_Model_Carrier_Cnexpcod</class>
						</Cnexpcod>
					</carriers>
				</shipping>
			</sales>
		</resources>
	</global>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<ChinaYto>
											<title>China Shipment - YTO Express</title>
											<sort_order>100</sort_order>
										</ChinaYto>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<translate>
			<modules>
				<Mage_Shipping>
					<files>
						<NeedTool_ChinaYto>NeedTool_ChinaYto.csv</NeedTool_ChinaYto>
					</files>
				</Mage_Shipping>
			</modules>
		</translate>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Mage_Shipping>
					<files>
						<NeedTool_ChinaYto>NeedTool_ChinaYto.csv</NeedTool_ChinaYto>
					</files>
				</Mage_Shipping>
			</modules>
		</translate>
	</frontend>
	<default>
		<carriers>
			<ChinaYto_cnexp>
				<model>NeedTool_ChinaYto_Model_Carrier_Cnexp</model>
				<active>0</active>
				<title>快递(款到发货) - 全国</title>
				<minimalfee>10</minimalfee>
				<freefrom>9999999</freefrom>
				<tracking_url>http://www.yto.net.cn/service/service.asp</tracking_url>
				<!--information>5-14 days to world. 2-7 days to USA.</information-->
				<sort_order>-60</sort_order>
			</ChinaYto_cnexp>
			<ChinaYto_cnexpcod>
				<model>NeedTool_ChinaYto_Model_Carrier_Cnexpcod</model>
				<active>0</active>
				<title>快递(货到付款) - 全国</title>
				<minimalfee>15</minimalfee>
				<freefrom>9999999</freefrom>
				<tracking_url>http://www.yto.net.cn/service/service.asp</tracking_url>
				<!--information>5-14 days to world. 2-7 days to USA.</information-->
				<sort_order>-50</sort_order>
			</ChinaYto_cnexpcod>
		</carriers>
	</default>
</config>
