<?xml version="1.0"?>
<config>
    <modules>
        <WebspeaksFeedback_Fancyfeedback>
            <version>0.1.0</version>
        </WebspeaksFeedback_Fancyfeedback>
    </modules>
    <frontend>
        <routers>
            <fancyfeedback>
                <use>standard</use>
                <args>
                    <module>WebspeaksFeedback_Fancyfeedback</module>
                    <frontName>fancyfeedback</frontName>
                </args>
            </fancyfeedback>
        </routers>
        <layout>
            <updates>
                <fancyfeedback>
                    <file>fancyfeedback.xml</file>
                </fancyfeedback>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<fancyfeedback>
				<use>admin</use>
				<args>
					<module>WebspeaksFeedback_Fancyfeedback</module>
					<frontName>fancyfeedback</frontName>
				</args>
			</fancyfeedback>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<fancyfeedback module="fancyfeedback">
				<title>Fancyfeedback</title>
				<sort_order>71</sort_order>               
				<children>
					<manage module="fancyfeedback">
						<title>Manage Feedbacks</title>
						<sort_order>1</sort_order>
						<action>fancyfeedback/adminhtml_fancyfeedback</action>
					</manage>
					<!--<settings module="fancyfeedback">
						<title>Settings</title>
						<sort_order>0</sort_order>
						<action>fancyfeedback/adminhtml_fancyfeedbacksettings</action>
					</settings>-->
				</children>
			</fancyfeedback>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<manage module="fancyfeedback">
							<title>Manage Feedbacks</title>
							<sort_order>1</sort_order>
						</manage>
						<settings module="fancyfeedback">
							<title>Settings</title>
							<sort_order>0</sort_order>
						</settings>
						<system>
							<children>
								<config>
									<children>
										<fancyfeedbackconfig translate="title" module="fancyfeedback">
											<title>Fancyfeedback Configuration</title>
											<sort_order>100</sort_order>
										</fancyfeedbackconfig>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<fancyfeedback>
					<file>fancyfeedback.xml</file>
				</fancyfeedback>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <fancyfeedback>
                <class>WebspeaksFeedback_Fancyfeedback_Model</class>
                <resourceModel>fancyfeedback_mysql4</resourceModel>
            </fancyfeedback>
            <fancyfeedback_mysql4>
                <class>WebspeaksFeedback_Fancyfeedback_Model_Mysql4</class>
                <entities>
                    <fancyfeedback>
                        <table>fancyfeedback</table>
                    </fancyfeedback>
                    <fancyfeedbacksettings>
                        <table>fancyfeedbacksettings</table>
                    </fancyfeedbacksettings>
                </entities>
            </fancyfeedback_mysql4>
        </models>
        <resources>
            <fancyfeedback_setup>
                <setup>
                    <module>WebspeaksFeedback_Fancyfeedback</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fancyfeedback_setup>
            <fancyfeedback_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fancyfeedback_write>
            <fancyfeedback_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fancyfeedback_read>
        </resources>
        <blocks>
            <fancyfeedback>
                <class>WebspeaksFeedback_Fancyfeedback_Block</class>
            </fancyfeedback>
        </blocks>
        <helpers>
            <fancyfeedback>
                <class>WebspeaksFeedback_Fancyfeedback_Helper</class>
            </fancyfeedback>
        </helpers>
    </global>
	<default>
		<fancyfeedbackconfig>
		  <fancyfeedback_group>
			<fancyfeedback_enabled>1</fancyfeedback_enabled>
			<fancyfeedback_subject>New Feedback received!</fancyfeedback_subject>
		  </fancyfeedback_group>
		</fancyfeedbackconfig>
  </default>
</config>