<?xml version="1.0"?>
<config>
    <modules>
        <WP_PriceDecimal>
            <version>1.4.0</version>
        </WP_PriceDecimal>
    </modules>
    <frontend>
        <layout>
            <updates>
                <pricedecimal>
                    <file>webandpeople/pricedecimal.xml</file>
                </pricedecimal>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <pricedecimal>
                <class>WP_PriceDecimal_Helper</class>
            </pricedecimal>
        </helpers>
        <models>
            <directory>
                <rewrite>
                    <currency>WP_PriceDecimal_Model_Currency</currency>
                </rewrite>
            </directory>
            <core>
                <rewrite>
                    <locale>WP_PriceDecimal_Model_Locale</locale>
                </rewrite>
            </core>
        </models>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <price_decimal translate="title" module="pricedecimal">
                                            <title><![CDATA[Web & People: Price Decimal]]></title>
                                            <sort_order>2000</sort_order>
                                        </price_decimal>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <price_decimal>
            <general>
                <enabled>1</enabled>
                <exclude_cart>1</exclude_cart>
                <precision>0</precision>
                <trim_zero_right>0</trim_zero_right>
                <version>1.4.0</version>
            </general>
        </price_decimal>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <about_webandpeople translate="title" module="pricedecimal">
                                            <title><![CDATA[Web & People: About Us]]></title>
                                            <sort_order>1000</sort_order>
                                        </about_webandpeople>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <blocks>
            <pricedecimal>
                <class>WP_PriceDecimal_Block</class>
            </pricedecimal>
        </blocks>
    </global>
</config>
