<?xml version="1.0"?>
<config>
    <tabs>
        <web_and_people translate="label" module="pricedecimal">
            <label>Web-And-People</label>
            <sort_order>150</sort_order>
        </web_and_people>
    </tabs>
    <sections>
        <price_decimal translate="label" module="pricedecimal">
            <label>Price Decimal</label>
            <tab>web_and_people</tab>
            <frontend_type>text</frontend_type>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <exclude_cart translate="label comment">
                            <label>Exclude Checkout</label>
                            <comment>Select "Yes" to disable this extension in the shopping cart (e.g. due to taxes)</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </exclude_cart>
                        <precision translate="label comment">
                            <label>Precision</label>
                            <comment>Number of decimal (e.g. 0, 1, 2). </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </precision>
                        <trim_zero_right translate="label comment">
                            <label>Trim decimal zeros to the right</label>
                            <comment>e.g. 3.3400 to 3.34, 0.2000 to 0.2 if param Precision = 4</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </trim_zero_right>
                        <version translate="label">
                            <label>Extension Release</label>
                            <frontend_type>label</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </version>
                    </fields>
                </general>
            </groups>
        </price_decimal>
        <about_webandpeople translate="label" module="pricedecimal">
            <label>About Us</label>
            <tab>web_and_people</tab>
            <frontend_type>text</frontend_type>
            <sort_order>99</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <info>
                    <frontend_model>pricedecimal/about</frontend_model>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </info>
            </groups>
        </about_webandpeople>
    </sections>
</config>
