<?xml version="1.0"?>
<config>
    <modules>
        <Apptha_Timer>
            <version>0.1.1</version>
        </Apptha_Timer>
    </modules>
    <frontend>
        <routers>
            <timer>
                <use>standard</use>
                <args>
                    <module>Apptha_Timer</module>
                    <frontName>timer</frontName>
                </args>
            </timer>
        </routers>
        <layout>
            <updates>
                <timer>
                    <file>timer.xml</file>
                </timer>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<timer>
				<use>admin</use>
				<args>
					<module>Apptha_Timer</module>
					<frontName>timer</frontName>
				</args>
			</timer>
        </routers>
    </admin>
    <adminhtml>
		<!-- <menu>
			<timer module="timer">
				<title>Timer</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="timer">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>timer/adminhtml_timer</action>
					</items>
				</children>
			</timer>
		</menu> -->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Apptha_Timer>
							<title>Timer Module</title>
							<sort_order>10</sort_order>
						</Apptha_Timer>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<timer>
					<file>timer.xml</file>
				</timer>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <timer>
                <class>Apptha_Timer_Model</class>
                <resourceModel>timer_mysql4</resourceModel>
            </timer>
            <timer_mysql4>
                <class>Apptha_Timer_Model_Mysql4</class>
                <entities>
                    <timer>
                        <table>timer</table>
                    </timer>
                </entities>
            </timer_mysql4>
        </models>
        <resources>
            <timer_setup>
                <setup>
                    <module>Apptha_Timer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </timer_setup>
            <timer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </timer_write>
            <timer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </timer_read>
        </resources>
        <blocks>
            <timer>
                <class>Apptha_Timer_Block</class>
            </timer>
        </blocks>
        <helpers>
            <timer>
                <class>Apptha_Timer_Helper</class>
            </timer>
        </helpers>
    </global>
</config>