<?xml version="1.0"?>

<!-- Config file -->

<config>
    <modules>
        <Thylak_Artist>
            <version>0.1.0</version>
        </Thylak_Artist>
    </modules>
    <frontend>
        <routers>
            <artist>
                <use>standard</use>
                <args>
                    <module>Thylak_Artist</module>
                    <frontName>artist</frontName>
                </args>
            </artist>
        </routers>
        <layout>
            <updates>
                <artist>
                    <file>artist.xml</file>
                </artist>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<artist>
				<use>admin</use>
				<args>
					<module>Thylak_Artist</module>
					<frontName>artist</frontName>
				</args>
			</artist>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<artist module="artist">
				<title>Artist</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="artist">
						<title>Manage Artist</title>
						<sort_order>0</sort_order>
						<action>artist/adminhtml_artist</action>
					</items>
				</children>
			</artist>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Thylak_Artist>
							<title>Artist Module</title>
							<sort_order>10</sort_order>
						</Thylak_Artist>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<artist>
					<file>artist.xml</file>
				</artist>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <artist>
                <class>Thylak_Artist_Model</class>
                <resourceModel>artist_mysql4</resourceModel>
            </artist>
            <artist_mysql4>
                <class>Thylak_Artist_Model_Mysql4</class>
                <entities>
                    <artist>
                        <table>artist</table>
                    </artist>
                </entities>
				<entities>
                    <artwork>
                        <table>artwork</table>
                    </artwork>
                </entities>
            </artist_mysql4>
        </models>
        <resources>
            <artist_setup>
                <setup>
                    <module>Thylak_Artist</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </artist_setup>
            <artist_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </artist_write>
            <artist_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </artist_read>
        </resources>
        <blocks>
            <artist>
                <class>Thylak_Artist_Block</class>
            </artist>
        </blocks>
        <helpers>
            <artist>
                <class>Thylak_Artist_Helper</class>
            </artist>
        </helpers>
    </global>
</config>