<?xml version="1.0"?>
<config>
  <modules>
    <Topbuy_Searchseo>
      <version>0.1.0</version>
    </Topbuy_Searchseo>
  </modules>
  <frontend>
    <routers>
      <searchseo>
        <use>standard</use>
          <args>
            <module>Topbuy_Searchseo</module>
            <frontName>searchseo</frontName>
          </args>
      </searchseo>
    </routers>
		<layout>
		  <updates>
			<searchseo>
			  <file>searchseo.xml</file>
			</searchseo>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <searchseo>
        <class>Topbuy_Searchseo_Helper</class>
      </searchseo>
    </helpers>
	<blocks>
	  <searchseo>
		<class>Topbuy_Searchseo_Block</class>
	  </searchseo>
	</blocks>
        <rewrite>   
            <Topbuy_Ajax_OldurlcategoryController>			
                <from><![CDATA[#^/searchseo/result/([a-zA-Z0-9\+\-]+).html#]]></from>
                <to><![CDATA[searchseo/index/index]]></to>
                <complete>1</complete>
            </Topbuy_Ajax_OldurlcategoryController> 
        </rewrite> 
	<models>
	  <searchseo>
		<class>Topbuy_Searchseo_Model</class>
		<resourceModel>searchseo_mysql4</resourceModel>
	  </searchseo>
	  <searchseo_mysql4>
		<class>Topbuy_Searchseo_Model_Mysql4</class>
		<entities>		  
			  <searchseo>
				<table>tb_searchseo</table>
			  </searchseo>
        </entities>
	  </searchseo_mysql4>
	</models>
	<resources>
	  <searchseo_setup>
		<setup>
		  <module>Topbuy_Searchseo</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </searchseo_setup>
	  <searchseo_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </searchseo_write>
	  <searchseo_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </searchseo_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <searchseo>
	    <use>admin</use>
		<args>
		  <module>Topbuy_Searchseo</module>
		  <frontName>searchseo</frontName>
		</args>
	  </searchseo>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <searchseo module="searchseo">
		<title>Searchseo</title>
		<sort_order>100</sort_order>
		<children>
		  <searchseobackend module="searchseo">
			<title>Searchseo</title>
			<sort_order>0</sort_order>
			<action>searchseo/adminhtml_searchseobackend</action>
		  </searchseobackend>
		  <searchseo module="searchseo">
		    <title>Manage Searchseo</title>
			<sort_order>0</sort_order>
			<action>searchseo/adminhtml_searchseo</action>
		  </searchseo>
		</children>
	  </searchseo>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<searchseo translate="title" module="searchseo">
			  <title>Searchseo</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <searchseobackend translate="title">
			<title>Searchseo</title>
		  </searchseobackend>
		  <searchseo translate="title">
			<title>Manage Searchseo</title>
			<sort_order>0</sort_order>
		  </searchseo>
			  </children>
			</searchseo>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<searchseo>
		  <file>searchseo.xml</file>
		</searchseo>
	  </updates>
	</layout>
  </adminhtml>
</config> 