<?xml version="1.0"?>
<config>
	<modules>
		<CKApps_Phonenumber>
			<version>1.1.1</version>
		</CKApps_Phonenumber>
	</modules>

	<global>
        <fieldsets>
            <customer_account>
                <phonenumber><create>1</create><update>1</update><to_order>customer_phonenumber</to_order><to_quote>customer_phonenumber</to_quote></phonenumber>                
            </customer_account>
            <checkout_onepage_billing>
            	<phonenumber><to_customer>*</to_customer></phonenumber>
            </checkout_onepage_billing>
            <checkout_onepage_quote>
            	<customer_phonenumber><to_customer>phonenumber</to_customer></customer_phonenumber>
            </checkout_onepage_quote>
			<sales_convert_quote>
                <customer_phonenumber><to_order>*</to_order></customer_phonenumber>
            </sales_convert_quote>
			<sales_convert_quote_address>
            	<phonenumber><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></phonenumber>
            </sales_convert_quote_address>
            <sales_convert_order>
                <customer_phonenumber><to_quote>*</to_quote></customer_phonenumber>
            </sales_convert_order>
        </fieldsets>

		<blocks>
			<adminhtml>
				<rewrite>
					<customer_edit_tab_account>CKApps_Phonenumber_Block_Overwrite_Adminhtml_Edit_Tab_Account</customer_edit_tab_account>
				</rewrite>
			</adminhtml>
		</blocks>        
		<models>
			<customer>
				<rewrite>
					<customer>CKApps_Phonenumber_Model_Customer</customer>
					<form>CKApps_Phonenumber_Model_Form</form>
					<observer>CKApps_Phonenumber_Model_Observer</observer>
					<setup>CKApps_Phonenumber_Model_Setup</setup>
				</rewrite>
			</customer>
			<customer_entity>
				<rewrite>
					<customer>CKApps_Phonenumber_Model_Entity_Customer</customer>
				</rewrite>
			</customer_entity>
			<customer_resource>
				<rewrite>
					<customer>CKApps_Phonenumber_Model_Entity_Customer</customer>
				</rewrite>
			</customer_resource>
		</models>
	
		<resources>
			<phonenumber_setup>
				<setup>
					<module>CKApps_Phonenumber</module>
					<class>CKApps_Phonenumber_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>default_setup</use>
				</connection>
			</phonenumber_setup>
		</resources>
		
		<events>
			<customer_customer_authenticated>
				<observers>
					<customer_observer>
						<type>singleton</type>
						<class>customer/observer</class>
						<method>isActive</method>
					</customer_observer>
				</observers>
			</customer_customer_authenticated>
		</events>
	</global>
	
	<frontend>
		<translate>
			<modules>
				<CKApps_Phonenumber>
					<files>
						<default>CKApps_Phonenumber.csv</default>
					</files>
				</CKApps_Phonenumber>
			</modules>
		</translate>
		<layout>
			<updates>
				<phonenumber>
					<file>phonenumber.xml</file>
				</phonenumber>
			</updates>
		</layout>
	</frontend>
</config>
