<?xml version="1.0"?>
<config>
  <modules>
    <Topbuy_Avail>
      <version>0.1.0</version>
    </Topbuy_Avail>
  </modules>
  <frontend>
    <routers>
      <avail>
        <use>standard</use>
          <args>
            <module>Topbuy_Avail</module>
            <frontName>avail</frontName>
          </args>
      </avail>
    </routers>
	<layout>
      <updates>
        <avail>
          <file>avail.xml</file>
        </avail>
      </updates>
    </layout>
  </frontend>
  <global>
    <helpers>
      <avail>
        <class>Topbuy_Avail_Helper</class>
      </avail>
    </helpers>
	<blocks>
	  <avail>
		<class>Topbuy_Avail_Block</class>
	  </avail>
	</blocks>
	<models>
	  <avail>
		<class>Topbuy_Avail_Model</class>
		<resourceModel>avail_mysql4</resourceModel>
	  </avail>
	  <avail_mysql4>
		<class>Topbuy_Avail_Model_Mysql4</class>
		<entities>
		  <productavail>
			<table>tb_sync_product_avail</table>
		  </productavail>
        </entities>
	  </avail_mysql4>
	</models>
	<resources>
	  <avail_setup>
		<setup>
		  <module>Topbuy_Avail</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </avail_setup>
	  <avail_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </avail_write>
	  <avail_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </avail_read>
	</resources>
  </global>
</config> 