<?xml version="1.0" encoding="UTF-8"?>
<config>
   <modules>
       <TM_EasyCatalogImg>
           <version>0.5.4</version>
       </TM_EasyCatalogImg>
   </modules>
   <global>
        <helpers>
            <easycatalogimg>
                <class>TM_EasyCatalogImg_Helper</class>
            </easycatalogimg>
        </helpers>
        <resources>
            <easycatalogimg_setup>
                <setup>
                    <module>TM_EasyCatalogImg</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </easycatalogimg_setup>
            <easycatalogimg_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </easycatalogimg_write>
            <easycatalogimg_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </easycatalogimg_read>
        </resources>
    </global>
    <default>
        <easy_catalogimg>
            <general>
                <enabled>1</enabled>
                <anchor>1</anchor>
                <plisting>1</plisting>
                <showOnMain>1</showOnMain>
                <columnsCount>3</columnsCount>
                <showImageThumbnails>1</showImageThumbnails>
				<resizeImageThumbnails>0</resizeImageThumbnails>
                <height>120</height>
                <width>120</width>
                <showSubChild>1</showSubChild>
                <countSubChild>5</countSubChild>
				<placeholder>no_image.jpg</placeholder>
            </general>
        </easy_catalogimg>
    </default>
    <frontend>
        <layout>
            <updates>
                <easycatalogimg>
                    <file>easycatalogimg.xml</file>
                </easycatalogimg>
            </updates>
        </layout>
   </frontend>
   <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <easy_catalogimg translate="title" module="easycatalogimg">
                                            <title>Easy Catalog Images</title>
                                            <sort_order>52</sort_order>
                                        </easy_catalogimg>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <TM_EasyCatalogImg>
                    <files>
                        <default>TM_EasyCatalogImg.csv</default>
                    </files>
                </TM_EasyCatalogImg>
            </modules>
        </translate>
    </adminhtml>
</config>