<?xml version="1.0"?>
<config>
    <modules>
        <MDN_AdminLogger>
            <version>1.2</version>
        </MDN_AdminLogger>
    </modules>
    <global>
        <helpers>
            <AdminLogger>
                <class>MDN_AdminLogger_Helper</class>
            </AdminLogger>
        </helpers>
        <blocks>
            <AdminLogger>
                <class>MDN_AdminLogger_Block</class>
            </AdminLogger>
        </blocks>
        <models>
   	   		            
            <AdminLogger>
                <class>MDN_AdminLogger_Model</class>
                <resourceModel>AdminLogger_mysql4</resourceModel>
            </AdminLogger>
            
            <AdminLogger_mysql4>
                <class>MDN_AdminLogger_Model_Mysql4</class>
                <entities>
                    <Log>
                        <table>adminlogger_log</table>
                    </Log>
                </entities>
            </AdminLogger_mysql4>
                        
        </models>
        <resources>
            <AdminLogger_setup>
                <setup>
                    <module>MDN_AdminLogger</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </AdminLogger_setup>
            <AdminLogger_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </AdminLogger_write>
            <AdminLogger_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </AdminLogger_read>
        </resources>	
      
        <events>
            <model_save_after>
                <observers>
                    <AdminLogger>
                        <type>singleton</type>
                        <class>AdminLogger/observer</class>
                        <method>model_save_after</method>
                    </AdminLogger>
                </observers>
            </model_save_after>
            <model_save_before>
                <observers>
                    <AdminLogger>
                        <type>singleton</type>
                        <class>AdminLogger/observer</class>
                        <method>model_save_before</method>
                    </AdminLogger>
                </observers>
            </model_save_before>
            <model_delete_after>
                <observers>
                    <AdminLogger>
                        <type>singleton</type>
                        <class>AdminLogger/observer</class>
                        <method>model_delete_after</method>
                    </AdminLogger>
                </observers>
            </model_delete_after>
            <admin_user_authenticate_after>
                <observers>
                    <AdminLogger>
                        <type>singleton</type>
                        <class>AdminLogger/observer</class>
                        <method>admin_user_authenticate_after</method>
                    </AdminLogger>
                </observers>
            </admin_user_authenticate_after>
            <admin_session_user_login_failed>
                <observers>
                    <AdminLogger>
                        <type>singleton</type>
                        <class>AdminLogger/observer</class>
                        <method>admin_session_user_login_failed</method>
                    </AdminLogger>
                </observers>
            </admin_session_user_login_failed>
            <catalog_product_website_update>
                <observers>
                    <AdminLogger>
                        <type>singleton</type>
                        <class>AdminLogger/observer</class>
                        <method>catalog_product_website_update</method>
                    </AdminLogger>
                </observers>
            </catalog_product_website_update>
            <catalog_category_change_products>
                <observers>
                    <AdminLogger>
                        <type>singleton</type>
                        <class>AdminLogger/observer</class>
                        <method>catalog_category_change_products</method>
                    </AdminLogger>
                </observers>
            </catalog_category_change_products>
        </events>
        <!-- overload of app\code\core\Mage\Adminhtml\Block\Permissions\User\Edit\Tabs.php : to add a tab in system > user -->
        <blocks>
            <adminhtml>
                <rewrite>
                    <permissions_user_edit_tabs>MDN_AdminLogger_Block_Adminhtml_Permissions_User_Tabs</permissions_user_edit_tabs>
                </rewrite>
            </adminhtml>
            <AdminLogger>
                <class>MDN_AdminLogger_Block</class>
            </AdminLogger>
        </blocks>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <MDN_AdminLogger>
                    <files>
                        <default>MDN_AdminLogger.csv</default>
                    </files>
                </MDN_AdminLogger>
            </modules>
        </translate>
        <menu>
            <system>
                <children>
                    <adminlogger translate="title" module="AdminLogger">
                        <title>Admin Logger</title>
                        <action>AdminLogger/Admin/Grid</action>
                        <sort_order>900</sort_order>
                    </adminlogger>
                </children>
            </system>
        </menu>
        <layout>
            <updates>
                <AdminLogger>
                    <file>AdminLogger.xml</file>
                </AdminLogger>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <adminlogger module="AdminLogger">
                                            <title>Admin Logger</title>
                                        </adminlogger>
                                    </children>
                                </config>
                                <adminlogger module="AdminLogger">
                                    <title>Admin Logger</title>
                                </adminlogger>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <AdminLogger>
                <use>standard</use>
                <args>
                    <module>MDN_AdminLogger</module>
                    <frontName>AdminLogger</frontName>
                </args>
            </AdminLogger>
        </routers>
    </frontend>  
       
    <admin>
        <routers>
            <AdminLogger>
                <use>admin</use>
                <args>
                    <module>MDN_AdminLogger</module>
                    <frontName>AdminLogger</frontName>
                </args>
            </AdminLogger>
        </routers>
    </admin>
    
    <default>
        <adminlogger>
            <general>
                <enable>1</enable>
                <auto_prune>1</auto_prune>
                <auto_prune_delay>60</auto_prune_delay>
                <force_initial_data>1</force_initial_data>
                <enable_log>1</enable_log>
                <!-- <log_limit_grid>100</log_limit_grid> -->
            </general>
            <advanced>
                <fields_to_ignore>
                    updated_at
                    low_stock_date
                    created
                    modified
                    password
                </fields_to_ignore>
                <object_to_ignore>
                    adminlogger/log
                    core/flag
                    productreturn/rmaproducts
                    sales/quote
                    sales/quote_item
                    sales/quote_address
                    sales/quote_address_item
                    sales/quote_address_rate
                    sales/quote_payment
                    sales/quote_item_option
                    sales/order_address
                    sales/order_item
                    sales/order_payment
                    sales/order_status_history
                    sales/order_invoice
                    sales/order_tax
                    eav/entity_store
                    backgroundtask/task
                    sales/order_shipment_item
                    sales/order_shipment_track
                    reports/event
                    catalog/product_type_configurable_attribute
                    core/config_data
                </object_to_ignore>
                <force_orig_data>
                    admin/user
                    checkout/agreement
                    cms/page
                    cms/block
                    customer/address
                    tax/calculation
                    tax/class
                    tax/calculation_rate
                    catalogsearch/query
                    tag/tag
                </force_orig_data>
            </advanced>
        </adminlogger>
    </default>
    
    <crontab>
        <jobs>
        	<!-- Cron pour la relance client (tous les jours a 2h du mat) -->
            <prune_admin_logs>
                <schedule>
                    <cron_expr>0 19 * * *</cron_expr>
                </schedule>
                <run>
                    <model>AdminLogger/Observer::handlerPruneLogs</model>
                </run>
            </prune_admin_logs>
        </jobs>
    </crontab>

    
</config> 