<?xml version="1.0"?>
<config>
    <modules>
        <Magpleasure_Filesystem>
            <version>1.0</version>
        </Magpleasure_Filesystem>
    </modules>
    <frontend>

    </frontend>
    <admin>
        <routers>
			<filesystem>
				<use>admin</use>
				<args>
					<module>Magpleasure_Filesystem</module>
					<frontName>filesystem</frontName>
				</args>
			</filesystem>
        </routers>
    </admin>
    <adminhtml>
		<menu>
            <system>
                <children>
                    <filesystem module="filesystem">
                        <title>Filesystem</title>
                        <sort_order>70</sort_order>               
                        <children>
                            <edit module="filesystem">
                                <title>IDE</title>
                                <sort_order>10</sort_order>
                                <action>filesystem/adminhtml_filesystem</action>
                            </edit>
<!--                            <config module="filesystem">
                                <title>Configuration</title>
                                <sort_order>20</sort_order>
                                <action>adminhtml/system_config/edit/section/filesystem</action>
                            </config>-->
                        </children>
                    </filesystem>                    
                </children>
            </system>

		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
                        <system>
                            <children>
                                <filesystem>
                                    <title>File System</title>
                                    <sort_order>10</sort_order> 
                                    <children>
                                        <edit>
                                            <title>IDE</title>
                                            <sort_order>10</sort_order>                                             
                                        </edit>
<!--                                        <config>
                                            <title>Configuration</title>
                                            <sort_order>20</sort_order>                                             
                                        </config>-->
                                    </children>
                                </filesystem> 
								<config>
									<children>
										<filesystem>
											<title>MagPleasure - File System Configuration</title>
										</filesystem>
									</children>
								</config>                                
                            </children> 
                        </system>

					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<filesystem>
					<file>filesystem.xml</file>
				</filesystem>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <filesystem>
                <class>Magpleasure_Filesystem_Model</class>
                <resourceModel>filesystem_mysql4</resourceModel>
            </filesystem>
            <filesystem_mysql4>
                <class>Magpleasure_Filesystem_Model_Mysql4</class>
                <entities>
                    <filesystem>
                        <table>filesystem</table>
                    </filesystem>
                </entities>
            </filesystem_mysql4>
        </models>
        <resources>
            <filesystem_setup>
                <setup>
                    <module>Magpleasure_Filesystem</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </filesystem_setup>
            <filesystem_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </filesystem_write>
            <filesystem_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </filesystem_read>
        </resources>
        <blocks>
            <filesystem>
                <class>Magpleasure_Filesystem_Block</class>
            </filesystem>
        </blocks>
        <helpers>
            <filesystem>
                <class>Magpleasure_Filesystem_Helper</class>
            </filesystem>
        </helpers>
    </global>
</config>