<?xml version="1.0"?>
<config>
    <modules>
        <MdlAjaxPage_Mdla>
            <version>1.0.0</version>
        </MdlAjaxPage_Mdla>
    </modules>
    <frontend>
        <layout>
            <updates>
                <mdlajaxpage_mdla>
                    <file>mdlajaxpage_mdla.xml</file>
                </mdlajaxpage_mdla>
            </updates>
        </layout>
     </frontend>
</config>

