<?xml version="1.0"?>
<config>
      <modules>
        <Topbuy_Paymentverify>
          <version>0.1.1</version>
        </Topbuy_Paymentverify>
      </modules>
	  <frontend>
		  <routers>
			<paymentverify>
			  <use>standard</use>
			 <args>
			   <module>Topbuy_Paymentverify</module>
			   <frontName>paymentverify</frontName>
			 </args>
			</paymentverify>
		  </routers>
		  <layout>
			  <updates>
				  <paymentverify>
					  <file>paymentverify.xml</file>
				  </paymentverify>
			  </updates>
		  </layout>
    </frontend>
    <global> 
		<helpers>
		   <paymentverify>
			   <class>Topbuy_Paymentverify_Helper</class>
		   </paymentverify>
		</helpers>  
		<blocks>
			<paymentverify>
				<class>Topbuy_Paymentverify_Block</class>
			</paymentverify>
		</blocks> 
		<models>
			<paymentverify>
				<class>Topbuy_Paymentverify_Model</class>
				<resourceModel>paymentverify_mysql4</resourceModel>
			</paymentverify>
			<paymentverify_mysql4>
				<class>Topbuy_Paymentverify_Model_Mysql4</class>
				<entities>
					<paymentverifyrecord>
						<table>tb_payment_verify_record</table>
					</paymentverifyrecord> 
				</entities>
			</paymentverify_mysql4>
		</models>
		<resources>
			<paymentverify_setup>
				<setup>
					<module>Topbuy_Paymentverify</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</paymentverify_setup>
			<paymentverify_write>
				<connection>
					<use>core_write</use>
				</connection>
			</paymentverify_write>
			<paymentverify_read>
				<connection>
					<use>core_read</use>
				</connection>
			</paymentverify_read> 
		 </resources> 
   </global>  
</config> 