<?xml version="1.0"?>

<config>
    <modules>
        <NeedTool_PaymentStub>
            <version>0.9.3</version>
        </NeedTool_PaymentStub>
    </modules>
    <global>
    			<helpers>
           <paymentstub><class>NeedTool_Paymentstub_Helper</class></paymentstub>
        </helpers> 
        <blocks>
            <paymentstub><class>NeedTool_Paymentstub_Block</class></paymentstub>
        </blocks>
        <models>
            <paymentstub>
                <class>NeedTool_Paymentstub_Model</class>
                <resourceModel>paymentstub_mysql4</resourceModel>
            </paymentstub>
        </models>
        <resources>
            <paymentstub_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paymentstub_write>
            <paymentstub_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paymentstub_read>
        </resources>
        <template>
            <email>
               <paymentstub_payment_failed_template translate="label" module="sales">
                   <label>Payment Failed</label>
                   <file>payment_failed.html</file>
                   <type>html</type>
               </paymentstub_payment_failed_template>
            </email>
        </template>
    </global>
    <frontend>
        <secure_url>
            <paymentstub_stub>/paymentstub/stub/</paymentstub_stub>
        </secure_url>
        <routers>
            <paymentstub>
                <use>standard</use>
                <args>
                    <module>NeedTool_Paymentstub</module>
                    <frontName>paymentstub</frontName>
                </args>
            </paymentstub>
        </routers>
        <translate>
            <modules>
                <NeedTool_Paymentstub>
                     <files>
                          <default>NeedTool_Paymentstub.csv</default>
                     </files>
                </NeedTool_Paymentstub>
            </modules>
        </translate>
        <layout>
             <updates>
                  <paymentstub>
                        <file>needtoolpaymentstub.xml</file>
                  </paymentstub>
             </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <paymentstub translate="title" module="paymentstub">
                                            <title>paymentstub Section</title>
                                            <sort_order>70</sort_order>
                                        </paymentstub>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <NeedTool_Paymentstub>
                     <files>
                          <default>NeedTool_Paymentstub.csv</default>
                     </files>
                </NeedTool_Paymentstub>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <paymentstub>
        </paymentstub>
    </default>
</config>
