<?xml version="1.0" encoding="utf-8"?>

<config>
	<modules>
		<Brisign_Lifestyle>
			<version>0.1.0</version>
		</Brisign_Lifestyle>
	</modules>
	<global>
		<models>
			<lifestyle>
				<class>Brisign_Lifestyle_Model</class>
				<resourceModel>lifestyle_mysql4</resourceModel>
			</lifestyle>
			<lifestyle_mysql4>
				<class>Brisign_Lifestyle_Model_Mysql4</class>
				<entities>
					<favorite>
						<table>lifestyle_favorite</table>
					</favorite>
				</entities>   
			</lifestyle_mysql4>
		</models>
		<helpers>
			<lifestyle>
				<class>Brisign_Lifestyle_Helper</class>
			</lifestyle>
		</helpers>
		<resources>
			<lifestyle_setup>   
				<setup>
					<module>Brisign_Lifestyle</module>
					<class>Mage_Sales_Model_Mysql4_Setup</class>
				</setup>
			</lifestyle_setup>
		</resources>
		<blocks>
			<lifestyle>
				<class>Brisign_Lifestyle_Block</class>
			</lifestyle>
		</blocks>
	</global>
	<frontend>
        <routers>
            <lifestyle>
                <use>standard</use>
                <args>
                    <module>Brisign_Lifestyle</module>
                    <frontName>lifestyle</frontName>
                </args>
            </lifestyle>
        </routers>  
		<layout>
			<updates>
				<lifestyle>
					<file>lifestyle.xml</file>
				</lifestyle>
			</updates>
		</layout>
		<events>
			<sales_convert_quote_to_order>
				<observers>
					<lifestyle>
						<type>model</type>
						<class>lifestyle/observer</class>
						<method>salesEventConvertQuoteToOrder</method>
					</lifestyle>
				</observers>
			</sales_convert_quote_to_order>
			<checkout_controller_onepage_save_shipping_method>
				<observers>
					<lifestyle>
						<type>model</type>
						<class>lifestyle/observer</class>
						<method>checkoutEventCreateLifestyleFavorite</method>
					</lifestyle>
				</observers>
			</checkout_controller_onepage_save_shipping_method>
		</events>
	</frontend>
	<default>
		<lifestyle_options>
			<basic_settings>
				<enabled>1</enabled>			
				<plug_and_play>1</plug_and_play>
				<frontend_label>Lifestyle Favorite</frontend_label>			
			</basic_settings>
			<character_count>
				<enabled>1</enabled>			
				<maximum_characters>500</maximum_characters>			
			</character_count>
		</lifestyle_options>
    </default>
	
</config>