<?xml version="1.0"?>
<config>
  <modules>
    <Topbuy_Password>
      <version>0.1.0</version>
    </Topbuy_Password>
  </modules>
  <global>
    <helpers>
      <password>
        <class>Topbuy_Password_Helper</class>
      </password>
    </helpers>
	<models>
	  <password>
		<class>Topbuy_Password_Model</class>
		<resourceModel>password_mysql4</resourceModel>
	  </password>
	  <password_mysql4>
		<class>Topbuy_Password_Model_Mysql4</class>
		<entities>		  
			  <recordpassword>
				<table>tb_recordpassword</table>
			  </recordpassword>
        </entities>
	  </password_mysql4>
	</models>
	<resources>
	  <password_setup>
		<setup>
		  <module>Topbuy_Password</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </password_setup>
	  <password_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </password_write>
	  <password_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </password_read>
	</resources>
  </global>
</config> 