<?xml version="1.0"?>
<!--
/**
 *
 * Copyright CKApps.com
 * email: app@ckapps.com
 *
 */
 -->
<config>
    <modules>
        <CKApps_AlipayFastLogin>
            <version>0.1.0</version>
        </CKApps_AlipayFastLogin>
    </modules>
    <global>
	        <models>
            <alipayfastlogin>
                <class>CKApps_AlipayFastLogin_Model</class>  
            </alipayfastlogin>
        </models>
       <resources>
            <alipayfastlogin_setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </alipayfastlogin_setup>
            <alipayfastlogin_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </alipayfastlogin_write>
            <alipayfastlogin_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </alipayfastlogin_read>
        </resources>   
		  <helpers>
		  	   <alipayfastlogin>
		  	   	   <class>CKApps_AlipayFastLogin_Helper</class>
		  	   </alipayfastlogin>
		  </helpers>
    </global>
    <frontend>
    	 <secure_url>
            <alipayfastlogin_login>/alipayfastlogin/login</alipayfastlogin_login>
        </secure_url>
        <routers>
            <alipayfastlogin>
                <use>standard</use>
                <args>
                    <module>CKApps_AlipayFastLogin</module>
                    <frontName>alipayfastlogin</frontName>
                </args>
            </alipayfastlogin>
        </routers>
         <translate>
            <modules>
                <CKApps_AlipayFastLogin>
                    <files>
                        <default>CKApps_AlipayFastLogin.csv</default>
                    </files>
                </CKApps_AlipayFastLogin>
            </modules>
        </translate>
    </frontend>
     <adminhtml>
        <translate>
            <modules>
                <CKApps_AlipayFastLogin>
                    <files>
                        <default>CKApps_AlipayFastLogin.csv</default>
                    </files>
                </CKApps_AlipayFastLogin>
            </modules>
        </translate>
    </adminhtml>   
    <default>
        <payment>
            <alipayfastlogin_login>
                  <model>alipayfastlogin/login</model>
                  <title>AlipayFastLogin</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
            </alipayfastlogin_login>
        </payment>
    </default>
</config>
