<?xml version="1.0"?>
<config>
    <modules>
        <Topbuy_Ajax>
            <version>0.1.0</version>
        </Topbuy_Ajax>
    </modules>
    <frontend>
        <routers>
            <ajax>
                <use>standard</use>
                <args>
                    <module>Topbuy_Ajax</module>
                    <frontName>ajax</frontName>
                </args>
            </ajax> 
        </routers>
    </frontend> 
    <global>
        <helpers>
            <ajax>
                <class>Topbuy_Ajax_Helper</class>
            </ajax>
        </helpers>   
        <blocks>
            <ajax>
                <class>Topbuy_Ajax_Block</class>
            </ajax>
        </blocks> 
		<rewrite>
			<Topbuy_Ajax_OldurlproductController>			
			    <from><![CDATA[#^/tbcart/([a-zA-Z0-9\+\-\.]+)/([a-zA-Z0-9\+\-\.]+)p([0-9]+).htm#]]></from>
                <to><![CDATA[ajax/oldurlproduct/view/]]></to>
				<complete>1</complete>
			</Topbuy_Ajax_OldurlproductController> 
        </rewrite> 
        <rewrite>   
            <Topbuy_Ajax_OldurlcategoryController>			
			    <from><![CDATA[#^/tbcart/([a-zA-Z0-9\+\-\.]+)/([a-zA-Z0-9\+\-\.]+)-c([0-9]+).htm#]]></from>
                <to><![CDATA[ajax/oldurlcategory/view/]]></to>
				<complete>1</complete>
			</Topbuy_Ajax_OldurlcategoryController> 
        </rewrite> 
        <models>
            <ajax>
                <class>Topbuy_Ajax_Model</class>
                <resourceModel>ajax_mysql4</resourceModel>
            </ajax>
            <ajax_mysql4>
                <class>Topbuy_Ajax_Model_Mysql4</class>
                <entities>
                    <prddescription>
                        <table>tb_prddescription</table>
                    </prddescription>
                </entities>
            </ajax_mysql4>
        </models>
        <resources>
            <ajax_setup>
                <setup>
                    <module>Topbuy_Ajax</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajax_setup>
            <ajax_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajax_write>
            <ajax_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajax_read> 
        </resources>
    </global> 
   

</config> 