<?xml version="1.0"?>
<config>
    <modules>
        <Mdlb_Mlayer>
            <version>2.0.0</version>
        </Mdlb_Mlayer>
    </modules>
    <frontend>
        <routers>
            <mlayer>
                <use>standard</use>
                <args>
                    <module>Mdlb_Mlayer</module>
                    <frontName>mlayer</frontName>
                </args>
            </mlayer>
        </routers>
        <layout>
            <updates>
                <mlayer>
                    <file>mlayer.xml</file>
                </mlayer>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<mlayer>
				<use>admin</use>
				<args>
					<module>Mdlb_Mlayer</module>
					<frontName>mlayer</frontName>
				</args>
			</mlayer>
        </routers>
    </admin>
    <adminhtml>
		
		<layout>
			<updates>
				<mlayer>
					<file>mlayer.xml</file>
				</mlayer>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <mlayer>
                <class>Mdlb_Mlayer_Model</class>
                <resourceModel>mlayer_mysql4</resourceModel>
            </mlayer>
            <mlayer_mysql4>
                <class>Mdlb_Mlayer_Model_Mysql4</class>
                <entities>
                    <mlayer>
                        <table>mlayer</table>
                    </mlayer>
                </entities>
            </mlayer_mysql4>
        </models>
        <resources>
            <mlayer_setup>
                <setup>
                    <module>Mdlb_Mlayer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mlayer_setup>
            <mlayer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mlayer_write>
            <mlayer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mlayer_read>
        </resources>
        <blocks>
            <mlayer>
                <class>Mdlb_Mlayer_Block</class>
            </mlayer>
        </blocks>
        <helpers>
            <mlayer>
                <class>Mdlb_Mlayer_Helper</class>
            </mlayer>
        </helpers>
    </global>
		<default>
			<mlayer>
				<mainsettings>
					<select_banner>1</select_banner>
				</mainsettings>
			
				<settings>
					<show_description>1</show_description>
				</settings>
				
				<flex_banner_settings>
					<animation_speed>600</animation_speed>
					<slideshow_speed>7000</slideshow_speed>
				</flex_banner_settings>
				
				<sequence_banner_settings>
					<show_description_sequence>1</show_description_sequence>
					<animation_speed_sequence>3000</animation_speed_sequence>
					<slideshow_speed_sequence>300</slideshow_speed_sequence>
					<buttontext_sequence>Buy Now</buttontext_sequence>
				</sequence_banner_settings>
				
				<nivo_banner_settings>
					<anim_speed>1000</anim_speed>
					<pause_time>5000</pause_time>
				</nivo_banner_settings>
				
			</mlayer>
		</default>
</config>