<?xml version="1.0"?>
<config>
    <modules>
        <Topbuy_Homepage>
            <version>0.1.0</version>
        </Topbuy_Homepage>
    </modules>
    <frontend>
        <routers>
            <homepage>
                <use>standard</use>
                <args>
                    <module>Topbuy_Homepage</module>
                    <frontName>homepage</frontName>
                </args>
            </homepage>
        </routers>
        <layout>
            <updates>
                <homepage>
                    <file>homepage.xml</file>
                </homepage>
            </updates>
        </layout>
    </frontend>
    <global>

   
   
        <helpers>
            <homepage>
                <class>Topbuy_Homepage_Helper</class>
            </homepage>
        </helpers>   

        <blocks>
            <homepage>
                <class>Topbuy_Homepage_Block</class>
            </homepage>
        </blocks>
        <models>
            <homepage>
                <class>Topbuy_Homepage_Model</class>
                <resourceModel>homepage_mysql4</resourceModel>
            </homepage>
            <homepage_mysql4>
                <class>Topbuy_Homepage_Model_Mysql4</class>
                <entities>
                    <frontbanner>
                        <table>tb_frontbanner</table>
                    </frontbanner>
                </entities>
                <entities>
                    <testimonial>
                        <table>tb_testimonial</table>
                    </testimonial>
                </entities>
                <entities>
                    <categoryspecial>
                        <table>tb_categoryspecial</table>
                    </categoryspecial>
                </entities>
                <entities>
                    <stealday>
                        <table>tb_stealoftheday</table>
                    </stealday>
                </entities>
                <entities>
                    <customerrecord>
                        <table>tb_customervisithistoryrecord</table>
                    </customerrecord>
                </entities>
                <entities>
                    <categoryfilter>
                        <table>tb_categoryfilter</table>
                    </categoryfilter>
                </entities>
                <entities>
                    <categorymap>
                        <table>tb_category_map_type</table>
                    </categorymap>
                </entities>
                <entities>
                    <customermap>
                        <table>tb_customer_map_type</table>
                    </customermap>
                </entities>
                <entities>
                    <ordermap>
                        <table>tb_order_map_type</table>
                    </ordermap>
                </entities>
                <entities>
                    <ordermap>
                        <table>tb_order_map_type</table>
                    </ordermap>
                </entities>
                <entities>
                    <supplier>
                        <table>tb_supplier</table>
                    </supplier>
                </entities>
                <entities>
                    <reseller>
                        <table>tb_reseller</table>
                    </reseller>
                </entities>
                <entities>
                    <ordershistory>
                        <table>tb_orders_history</table>
                    </ordershistory>
                </entities>
                <entities>
                    <justbought>
                        <table>tb_just_bought</table>
                    </justbought>
                </entities>
                <entities>
                    <dailyproductupdate>
                        <table>tb_dailyproductupdate</table>
                    </dailyproductupdate>
                </entities>
                <entities>
                    <promotioncrosssale>
                        <table>tb_promotion_cross_sale</table>
                    </promotioncrosssale>
                </entities>
                <entities>
                    <etafromsupplier>
                        <table>tb_df_supplier</table>
                    </etafromsupplier>
                </entities>
            </homepage_mysql4>
        </models>
        <resources>
            <homepage_setup>
                <setup>
                    <module>Topbuy_Homepage</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </homepage_setup>
            <homepage_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </homepage_write>
            <homepage_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </homepage_read>
			
        </resources>
	 
    </global> 
   

</config> 