/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.banner_box {
    clear: both;
    margin:0;
    overflow: hidden;
    position: relative;
    text-align: center;
	background:url(../images/ajax_loader.gif) no-repeat center center #fbfbfb;
	width:100%;
}
.banner_box.loading{padding:185px 0;}
.slider{margin:0 auto;}
.flexslider ol, .flexslider ul, .flexslider li{list-style: none outside none; margin:0px; padding:0px;}
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 
.flex-viewport ul.slides{padding:0px; margin:0px;}
/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {
    margin: 0;
	clear:both;
}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav{
	opacity:0;
	filter: alpha(opacity =0);
 	transition: all 200ms ease-in-out 0s;
	-moz-transition: all 200ms ease-in-out 0s;
    -ms-transition: all 200ms ease-in-out 0s;
    -o-transition: all 200ms ease-in-out 0s;
    -webkit-transition: all 200ms ease-in-out 0s;
}
.flexslider:hover .flex-direction-nav{opacity:1; filter: alpha(opacity = 100);}
.flex-direction-nav a {width:50px; height:50px; display: block; background: url(../images/icons.png) no-repeat #58bae9; position: absolute; top:45%; cursor: pointer; text-indent: -9999px; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {
    background-position:-8px -885px;
    left: 12px;
}
.flexslider .flex-next:hover{opacity:1; background-color:#f64305;}
.flexslider .flex-prev:hover{opacity:1; background-color:#f64305;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}
.flex-direction-nav a.flex-prev {
    background-position:-7px -805px;
    right: 12px;
}

/* Control Nav */
.flex-control-paging{display:none;}
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}