/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.2
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/
.slider-wrapper.theme-default{position:relative;}
.theme-default .nivoSlider {
	position:relative;
	background:#fff url(../images/loading.gif) no-repeat 50% 50%;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
    bottom: 25px;
    padding: 0;
    position: absolute;
    right: 12px;
    text-align: center;
    z-index: 15000;
}
.theme-default .nivo-controlNav a {
    background: none repeat scroll 0 0 #58BAE9;
    border: 0 none;
    display: inline-block;
    height: 11px;
    margin: 0 0 0 12px;
    padding: 2px;
    text-indent: -9999px;
    width: 11px;
}
.theme-default .nivo-controlNav a.active {
	padding:0px; border:2px solid #fff;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:50px;
	height:50px;
	background:url(../images/icons.png) no-repeat;
	text-indent:-9999px;
	border:0;
	background-color:#58bae9;
}
.theme-default a.nivo-nextNav {
    background-position:-4px -805px;
    right: 15px;
}
.theme-default a.nivo-prevNav {
    background-position:-7px -885px;
    left: 15px;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}