@charset "utf-8";
/* CSS Document */

/********** < Navigation */
.nav-container {
    background: none repeat scroll 0 0 #fff;
    float: left;
    margin:0;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    text-align: left;
}
#nav {
	display: inline-block;
	font-size: 13px;
	margin: 0 auto;
	padding: 0;
	float:left;
}
/* All Levels */ /* Style consistent throughout all nav levels */

#nav li {
	float: left !important;
	padding: 0;
}
#nav li.over {
	z-index:998;
}
#nav a, #nav a:hover {
	display:block;
	text-decoration:none;
}
#nav span {
	display:block;
	cursor:pointer;
	white-space:nowrap;
}
#nav li ul span {
	white-space:normal;
}
/* 0 Level */

#nav li {
	float:left;
	margin:0;
}
#nav li.active a {
	color:#444;
}
#nav a{
    background: none repeat scroll 0 0 transparent;
    color: #fff;
    float: left;
    font-size: 14px;
    font-weight: normal;
    padding:20px;
    width: auto;
}
#nav li.over a, #nav a:hover {
	color:#000;
}
#nav li.level-top.active > a{background:#f7f7f7; color:#58BAE9;}
#nav li.level-top > a:hover, #nav li.level-top.over > a {background:#f7f7f7; color:#3d3d3d;}
#nav li.over, #nav li.active a {
	color:#58BAE9;
}
/* 1st Level */

#nav ul li {
	float:none;
	border:none;
	background:none;
	margin:0;
	padding:0;
	padding-bottom:1px;
	text-transform:none;
	width:200px;
	text-align:left;
}
#nav ul li.parent {
	margin-right: 8px;
	width: 187px;
}
#nav ul li.parent.last {
	margin-right:0px;
}
#nav ul li.last {
	padding-bottom:0;
}
#nav ul li.active {
	margin:0;
	border:0;
	background:none;
}
#nav ul a, #nav ul a:hover {
	float:none;
	padding:0;
	background:none;
	border-right:none;
}
/* 2nd Level */

#nav ul {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #8A8A8A;
    float: left;
    font-size: 16px;
    font-weight: normal;
    padding: 6px 10px;
    text-decoration: none;
    text-transform: capitalize;
}
#nav ul ul {
	border:none;
	box-shadow:none;
}
#nav li.home a {
    background: url("../images/local.png") no-repeat scroll left -144px transparent;
    float: left;
    height: 16px;
    margin-left: 10px;
    margin-right: 0;
    padding: 20px 10px;
    text-indent: -9999px;
    width: 19px;
}
#nav li.home:hover{border:none;}
#nav li.home.over {
	background:none;
}
#nav li.over {
	background:#f7f7f7;
	color:#000;
}
#nav li.over a span {
	color:#3d3d3d;
}
#nav li.over ul li ul li.active a span{color:#58BAE9;} 
#nav li.over ul li ul li a span {
	color:#5F5F5F;
	display:inline-block;
	width:100%;
}
#nav li.over ul li ul li a{	padding:5px 0; display:inline-block; width:100%;}
#nav li.over ul li {
	border-bottom:none;
	padding-bottom:2px;
	font-size:18px;
	background:none;
	padding-left:0px;
}
#nav li.over ul li a span {
	font-size:13px;
	padding-left:10px;
	background:#58BAE9;
	color:#fff;
	padding:10px;
}
#nav li.over ul li ul li a span {
	font-size:12px;
	padding:3px 5px 3px 12px;
	background:none;
}
#nav li.over ul li ul li a span:hover{background-position:4px 11px; color:#999; transition: background-position 150ms ease-in-out 0s;}
#nav li.over ul li.over li {
	padding-bottom:2px;
	background:none;
}
#nav li.over ul li ul li {
	background:none;
	color:#000;
	padding-bottom:2px;
}
#nav li.over ul li.over li.over {
	background:none;
	color:#8a8a8a;
	border-bottom:none;
	padding-bottom:2px;
	background-position: 3px 0;
    transition: background-position 150ms ease-in-out 0s;
}
#nav ul{
	left: -10000px;
	padding:10px 15px;
	position: absolute;
	top:54px;
}
#nav ul.level0 {
    box-shadow: 0 7px 10px 0 #CCCCCC;
	-moz-box-shadow: 0 7px 10px 0 #CCCCCC;
	-webkit-box-shadow: 0 7px 10px 0 #CCCCCC;
    padding: 2%;
    width: 96%;
	border-bottom: 3px solid #58BAE9;
}
#nav div ul {
	position:static;
	width:auto;
	border:none;
	padding:0;
}
/* 3rd+ Level */

#nav ul ul{
	padding:0;
	position: static;
	top: 5px;
	width:189px;
	margin-top:10px;
}
#nav ul ul li {
	width: 187px;
	z-index:1;
}
#nav ul ul li {
	position:relative;
}
#nav ul ul li:hover {
	z-index:15000;
}
#nav ul ul li ul {
	display:none;
	position:absolute;
	top:5px;
	left:180px;
	box-shadow:5px 5px 5px #000;
	z-index:15000;
}
#nav ul li.parent:hover {
	z-index:1500;
	position:relative;
}
#nav ul li li a {
	border-top:none;
}
#nav ul li a {
	font-size:12px;
}
#nav ul li, #nav ul li.active {
	color: #f2f2f2;
	float: none;
	margin: 0;
	padding-bottom: 1px;
	margin-right:10px;
}
#nav ul li span {
	color:#8A8A8A;
}
#nav ul span, #nav ul li.last li span {
	padding:4px 2px 4px 12px;
	color:#000;
}
#nav ul ul li.parent {
	background:url(../images/subnav.gif) no-repeat 170px 16px #393939;
}
#nav ul li li a:hover {
	color:#999;
}
#nav ul ul li.last {
	border:none;
}
#nav ul ul li:hover.last {
}
#nav ul ul li {
	padding-bottom:3px;
}
#nav ul ul li:hover {
	background:#323131;
	padding:0px;
}
/* Show menu */

#nav li ul.shown-sub, #nav li div.shown-sub {
	left:0px;
	z-index:999;
}
#nav li .shown-sub ul.shown-sub, #nav li .shown-sub li div.shown-sub {
	left:180px;
	display:block;
	z-index:1500;
}
/********** Navigation > */