<?xml version="1.0"?>
<config>
    <modules>
        <Magebuzz_Catsidebarnav>
            <version>0.1.0</version>
        </Magebuzz_Catsidebarnav>
    </modules>
    <frontend>
		<secure_url>
            <catsidebarnav>/catsidebarnav/</catsidebarnav>
        </secure_url>	
        <routers>
            <catsidebarnav>
                <use>standard</use>
                <args>
                    <module>Magebuzz_Catsidebarnav</module>
                    <frontName>catsidebarnav</frontName>
                </args>
            </catsidebarnav>
        </routers>
        <layout>
            <updates>
                <catsidebarnav>
                    <file>catsidebarnav.xml</file>
                </catsidebarnav>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<catsidebarnav>
				<use>admin</use>
				<args>
					<module>Magebuzz_Catsidebarnav</module>
					<frontName>catsidebarnav</frontName>
				</args>
			</catsidebarnav>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<catsidebarnav>
					<file>catsidebarnav.xml</file>
				</catsidebarnav>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <catsidebarnav>
                <class>Magebuzz_Catsidebarnav_Model</class>
                <resourceModel>catsidebarnav_mysql4</resourceModel>
            </catsidebarnav>
            <catsidebarnav_mysql4>
                <class>Magebuzz_Catsidebarnav_Model_Mysql4</class>
                <entities>
                    <catsidebarnav>
                        <table>catsidebarnav</table>
                    </catsidebarnav>
                </entities>
            </catsidebarnav_mysql4>
        </models>
        <resources>
            <catsidebarnav_setup>
                <setup>
                    <module>Magebuzz_Catsidebarnav</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </catsidebarnav_setup>
            <catsidebarnav_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </catsidebarnav_write>
            <catsidebarnav_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </catsidebarnav_read>
        </resources>
        <blocks>
            <catsidebarnav>
                <class>Magebuzz_Catsidebarnav_Block</class>
            </catsidebarnav>
			<catalog>
				<rewrite>
					<navigation>Magebuzz_Catsidebarnav_Block_Catsidebarnav</navigation>
				</rewrite>
			</catalog>		
        </blocks>
        <helpers>
            <catsidebarnav>
                <class>Magebuzz_Catsidebarnav_Helper</class>
            </catsidebarnav>
			<catalog>
				<rewrite>
					<category>Magebuzz_Catsidebarnav_Helper_Category</category>
				</rewrite>
			</catalog>
        </helpers>
		<template>
			<email>
				<catsidebarnav_general_email_template>
					<label>Title Email</label>
					<file>catsidebarnav_example.html</file>
					<type>html</type>
				</catsidebarnav_general_email_template>
			</email>
		</template>			
    </global>
	<!--Set Default Value For Setting Options-->
	<default>
		<catsidebarnav>
			<display_settings>
				<enabled>1</enabled>
				<position>left</position>
				<category_level>0</category_level>
				<show_type>click-2-click</show_type>	
			</display_settings>
		</catsidebarnav>
	</default>
	<translate>
		<modules>
			<Magebuzz_Catsidebarnav>
				<files>
					<default>Magebuzz_Catsidebarnav.csv</default>
				</files>
			</Magebuzz_Catsidebarnav>
		</modules>
	</translate>	
</config>