<?xml version="1.0"?>
<!--
/**
 * Copyright (C) 2011 MageMods.co
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
-->
<config>
    <tabs>
        <magemods module="ordermonitor">
            <label>MageMods</label>
            <sort_order>200</sort_order>
        </magemods>
    </tabs>
    <sections>
        <ordermonitor translate="label" module="ordermonitor">
            <label>Order Monitor</label>
            <tab>magemods</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <customer translate="label">
                    <label>Customer Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <cancel_new translate="label">
                            <label>Allow Customers to Cancel New Orders</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cancel_new>
                        <cancel_pending translate="label">
                            <label>Allow Customers to Cancel Pending Payment Orders</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cancel_pending>
                        <cancel_status translate="label">
                            <label>Canceled Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ordermonitor/system_config_source_order_status_canceled</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cancel_status>
                    </fields>
                </customer>
                <cron translate="label">
                    <label>Cron Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <cancel_pending translate="label">
                            <label>Cancel Pending Payment Orders</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cancel_pending>
                        <cancel_after translate="label">
                            <label>Cancel Pending Payment Orders After (minutes)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cancel_after>
                        <cancel_status translate="label">
                            <label>Canceled Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>ordermonitor/system_config_source_order_status_canceled</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cancel_status>
                    </fields>
                </cron>
            </groups>
        </ordermonitor>
    </sections>
</config>
