<?xml version="1.0"?>
<!--
/**
 *  Jemoon_Htmlminify_Model_Observer
 *
 * @category   Jemoon
 * @package    Jemoon_Htmlminify
 * @author     Marcin Jędrzejewski <marcin.jedrzejewski85@gmail.com>
 * @copyright  Copyright (c) 2012 Marcin Jędrzejewski
 * @license    http://framework.zend.com/license   BSD License
 * @version    $id$
 * @since      1.0.0
 */
-->

<config>
    <sections>
        <dev translate="label" module="core">
            <groups>
                <html translate="label">
                    <label>HTML Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>120</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <minify_html_output translate="label">
                            <label>Minify HTML Output</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </minify_html_output>
                    </fields>
                </html>
            </groups>
        </dev>
    </sections>
</config>
